


.link {
    text-decoration:underline;
    font-weight:bold;
}
.blackMe {
    background: pink;
}


.marR-330{
	margin-right: 330px;
}
.marL-45{
margin-left: 45px;	
}
.ht-90{
	height: 90px;
}
.pad-b-20{
	padding-bottom: 20px;
}
.t-40{
	font-size: 40px;
}
.padT-10{
	padding-top: 10px;
}
.bgCol{
	background-color: #EEEEEE;

}
.centerHead{
	margin-left: 550px;
	margin-right: 550px;
}
.centerHead2{
	margin-left: 400px;
	margin-right: 500px;
}

.marL-15{
	margin-left: 15px;
}
.marB-80{
	margin-bottom: 80px;
}

.blackBg{
	background-color: #2B303D; 
}

  
.mar-L-135{
	margin-left: 135px;
}
    
.ht-30{
	height: 30px;
	
}
.ht-60{
	height: 60px;
}
.marL-80{
	margin-left: 80px;
}

.wid-330{
	width: 588px;
}
   
	.ht-477{
		height: 477px;
	}
  
.whiteFont{
	color: #FFFFFF;
}


.imgResize2{
	width: 440px;
	height: 440px;
	margin-left: 150px;
	margin-right: 250px;
}
  
.marL-180{
	margin-left: 180px;
}
   
.t-56{
	font-size: 56px;
}
.marT-175{
	margin-top: 175px;
}
.marL-110{
	margin-left: 110px;
}
.marL-240{
	margin-left: 240px;
}
.marL-60{
	margin-left: 60px;
}

.marL-255{
	margin-left: 255px;
}
.marL-120{
	margin-left: 120px;
}
   
.wid-120p{
	width: 120%;
}
   
.pad-b-40{
	padding-bottom: 40px;
}
   
    .txt-decor {
        text-decoration: none;
	}
	



.padMenu{
	padding-left: 60px;
	padding-right: 0px;
	padding-bottom:25px;
	padding-top: 35px;
}
.txt-decor-white{
	text-decoration: underline;
	color: #296EFB;
}

  
.ht-51{
	height: 51px;
}

.greyBG{
    background-color:#eee;
}

.font24px{
    font-size:24px;
}

.font28px{
    font-size:28px;
}

.font21px{
    font-size:21px;
}

.leftAlign{
    text-align:left;
}


.marT-16px{
    margin-top:16px;
}


.pad20px{
    padding:20px;
}


.height64px{
    height:64px;
}

.relT-10PX{
    position:relative;
    top:-10px;
}




.marT-24 {
    margin-top: 24px;
}



@media only screen and (min-width: 1200px) 
/* X-large */
{
	.wid588Resp{
		width: 588px;
		text-align: justify;
		font-size: 18px;
	}

	.wid574Resp{
		width: 574px;
	}

	.wid584Resp{
		width: 584px;
		text-align: justify;
	}

        .wid584Resp.onlineRedemp {
            width:516px;
        }

        .wid584Resp.continuity {
            width: 593px;
        }
    
    
    .marT86Resp62 {
        margin-top: 86px;
    }

    .marT123Resp {
        margin-top: 123px;
    }


	.fSize56Resp24{
		font-size: 56px;
	}

	.marB100Resp{
		margin-bottom: 100px;
	}

	.marPB100Resp{
		padding-bottom: 50px;
	}

    .buySellImage {
        width: 477px;
        margin-top: 100px;
    }

    .onlineRedemptionImage {
        width: 442px;
    }

    .paymentImg {
        width: 372px;
    }

    .contiImage{
        width:309px;
        margin-top:80px;
    }

    .chartImage{
        width:308px;
    }

    .paperImage{
        width:42px;
    }

    .border-bottomBG{
        border-bottom-color:#ffffff;
        border-bottom:1px solid #ffffff;
        width:100%;
        height:1px;
        padding-top:50px;
    }


    .footerImages{
        width:38px;
        margin-right:64px;
    }

   

    .footerPadT-94px{
        padding-top:94px;
        padding-bottom:65px;
    }

    .inputBGWidth{
        width:364px;
    }

    .inputParentWidth{
        width:264px;
        display:inline-block;
    }

    .inputWidth{
        padding-left:20px;
        height:64px;
        font-size:18px;
        width:100%;
    }
    .paperWidth {
        width: 100px;
        height:64px;
        display: inline-block;
        padding-top:10px
    }

    .marT-30px {
        margin-top: 30px;
    }

}


@media only screen and (min-width: 993px) and (max-width: 1200px) /* large */
{

    .marT123Resp {
        margin-top: 123px;
    }

    .wid588Resp {
        width: 588px;
        text-align: justify;
        font-size: 18px;
    }

    .wid574Resp {
        width: 574px;
    }

    .wid584Resp {
        width: 500px;
        text-align: justify;
    }

        .wid584Resp.onlineRedemp {
            width: 400px;
        }

        .wid584Resp.continuity {
            width: 500px;
        }


    .marT86Resp62 {
        margin-top: 86px;
    }

    .fSize56Resp24 {
        font-size: 56px;
    }

    .marB100Resp {
        margin-bottom: 100px;
    }

    .marPB100Resp {
        padding-bottom: 50px;
    }

    .buySellImage {
        width: 400px;
        margin-top: 100px;
    }

    .onlineRedemptionImage {
        width: 442px;
    }

    .paymentImg {
        width: 250px;
    }

    .contiImage {
        width: 309px;
        margin-top: 80px;
    }

    .chartImage {
        width: 308px;
    }

    .paperImage {
        width: 42px;
    }

    .border-bottomBG {
        border-bottom-color: #ffffff;
        border-bottom: 1px solid #ffffff;
        width: 100%;
        height: 1px;
        padding-top: 50px;
    }


    .footerImages {
        width: 38px;
        margin-right: 64px;
    }



    .footerPadT-94px {
        padding-top: 94px;
        padding-bottom: 65px;
    }

    .inputBGWidth {
        width: 364px;
    }

    .inputParentWidth {
        width: 190px;
        display: inline-block;
    }

    .inputWidth {
        padding-left: 20px;
        height: 64px;
        font-size: 18px;
        width: 100%;
    }

    .paperWidth {
        width: 100px;
        height: 64px;
        display: inline-block;
        padding-top: 10px
    }
    .marT-30px {
        margin-top: 30px;
    }
}


@media only screen and (min-width: 600px) and (max-width: 993px) /* med */
{

    .marT123Resp {
        margin-top: 30px;
    }

    .wid588Resp {
        width: auto;
        text-align: justify;
        font-size: 18px;
    }

    .wid574Resp {
        width: 574px;
    }

    .wid584Resp {
        width: auto;
        text-align: justify;
    }

        .wid584Resp.onlineRedemp {
            width: auto;
        }

        .wid584Resp.continuity {
            width: auto;
        }


    .marT86Resp62 {
        margin-top: 86px;
    }

    .fSize56Resp24 {
        font-size: 56px;
        margin-bottom:16px;
    }

    .marB100Resp {
        margin-bottom: 100px;
    }

    .marPB100Resp {
        padding-bottom: 50px;
    }

    .buySellImage {
        width: 350px;
        margin-top: 20px;
    }

    .onlineRedemptionImage {
        width: 400px;
    }

    .paymentImg {
        width: 250px;
    }

    .contiImage {
        width: 250px;
        margin-top: 20px;
    }

    .chartImage {
        width: 250px;
    }

    .paperImage {
        width: 42px;
    }

    .border-bottomBG {
        border-bottom-color: #ffffff;
        border-bottom: 1px solid #ffffff;
        width: 100%;
        height: 1px;
        padding-top: 50px;
    }


    .footerImages {
        width: 38px;
        margin-right: 64px;
    }



    .footerPadT-94px {
        padding-top: 94px;
        padding-bottom: 65px;
    }

    .inputBGWidth {
        width: 364px;
    }

    .inputParentWidth {
        width: 264px;
        display: inline-block;
    }

    .inputWidth {
        padding-left: 20px;
        height: 64px;
        font-size: 18px;
        width: 100%;
    }

    .paperWidth {
        width: 100px;
        height: 64px;
        display: inline-block;
        padding-top: 10px
    }
    .marT-30px {
        margin-top: 4px;
    }
}


@media only screen and (min-width: 320px) and (max-width: 600px) /* small */
{

    .marT-16px{
        margin-top:10px;
    } .marT-30px {
        margin-top: 4px;
    } .respmarTop30px {
        margin-top: 40px;
    } .wid-330 {
        width: auto;
    } .container {
        width: 80%;
    } .noCenterSmall {
        text-align: left
    } .wid588Resp {
        width: auto;
        text-align: justify;
        font-size: 18px;
    }

    .wid574Resp {
        width: 574px;
    }

    .wid584Resp {
        width: 270px;
        text-align: justify;
    }

        .wid584Resp.onlineRedemp {
            width: 270px;
        }

        .wid584Resp.continuity {
            width: 272px;
        }


    .marT86Resp62 {
        margin-top: 86px;
    }

    .fSize56Resp24 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .marB100Resp {
        margin-bottom: 100px;
    }

    .marPB100Resp {
        padding-bottom: 50px;
    }

    .buySellImage {
        width: 268px;
        margin-top: 20px;
    }

    .onlineRedemptionImage {
        width: 212px;
    }

    .paymentImg {
        width: 168px;
        
    }

    .contiImage {
        width: 207px;
        margin-top: 20px;
    }

    .chartImage {
        width: 203px;
    }

    .paperImage {
        width: 42px;
    }

    .border-bottomBG {
        border-bottom-color: #ffffff;
        border-bottom: 1px solid #ffffff;
        width: 100%;
        height: 1px;
        padding-top: 50px;
    }


    .footerImages {
        width: 38px;
        margin-right: 64px;
    }



    .footerPadT-94px {
        padding-top: 94px;
        padding-bottom: 65px;
    }

    .inputBGWidth {
        width: 364px;
    }

    .inputParentWidth {
        width: 150px;
        display: inline-block;
    }

    .inputWidth {
        padding-left: 20px;
        height: 64px;
        font-size: 18px;
        width: 100%;
    }

    .paperWidth {
        width: 100px;
        height: 64px;
        display: inline-block;
        padding-top: 10px
    }
}