@media only screen and (min-width: 1440px){
.max-wt-702{
    max-width: 702px
}
.max-wt-405{
    max-width: 405px
}
.container{
    max-width: 1193px;
}


.flx-405 {
   flex: 405px;
   max-width:405px
  
}
.flx-702{
        flex: 702px;
        max-width:702px
       
     
}
.flx-86{
flex: 86px;
max-width:86px;
}
.flx-160{
    flex: 210px;
   max-width: 210px;
}
.flx-640{
    flex:640px;
   max-width: 640px
}
.marTt--8{
    margin-top:-8px
}
.marTT-20{
    margin-top:20px;
}
.ht-598{
    height: 598px
}

.wt-468-mrl-138{
    max-width: 468px;
    margin-left: 138px;
}
.mrL-72{
    margin-left: 72px;
}
.flx-788{
    flex:788px;
    width: 788px
}
.marLl-18{
    margin-left: 18px;
}
.wt-454-mrL138{
    width: 454.33px;
    margin-left: 138px;
}
.mrL-43{
    margin-left: 43px;
}
.marLLL-10{
    margin-left: 10px
}
.ps-r-lft-13p {
    position: relative;
    left: 30px;
}


.ps-r-lft-3px{
    position: relative;
    left: 3px;
}
}

.ht-668{
    height:668px;
}


.ht-200{
    height:200px;
}

.width100p{
    width:100%;
    padding:30px;
}

.ht-665{
height:665px
}

.ht-568{
    height: 568px;
}

.floatActionButton {
    position:fixed;
    bottom:100px;
    right:00px;
    z-index:1000
}

.redeemCtr {
    position:relative;
    top:1px;
    left:-4px;
    z-index:10000

}


@media only screen and (max-width: 576px) {
    .wt-68-ht-84{
        width:68px;
        height:84.05px
    }
    .tp-20{
        top: 20px;
    }
    .lft-25{
        left: 25px
    }

    .margin20-Small{
        margin:20px
    }

}
@media only screen and (min-width: 992px){
    .modal-dialog{
        max-width: 703px
    }
    .mrttT-21{
        margin-top: 21px
    }
    .brd-5-f3{
        border: 5px solid #f3f3f3;
    }
      #Goldbdnone div:nth-child(3n) {
        border-right: 0px;
}

  #Silverbdnone div:nth-child(3n) {
    border-right: 0px;
}
    
}
.wt-150{
    width:150px
}
.wt-539{
    width: 539px
}
.pdbtm-36{
    padding-bottom: 36px;
}

@media only screen and (width: 1024px){



.ht-682{
    height: 682px;
}
.ht-775{
    height: 775px;
}
.marLLl--15{
    margin-left: -15px;
}
}
.marT-55{
    margin-top: 55px
}
.htt-45{
    height:45px
}


.pad-R15-L15{
    padding:0px 15px;
}

.inputTxtCenter{
    text-align:center;
    font-size:12px;
    color: rgba(43, 48, 61, 0.5);
}



div#Addme.btn.col-lg-12.marT-10.brdr-liteblue.bd-0:hover {
    color: white;
    background-color: #007BFF;
}


@media only screen and (max-width: 992px){
   .ps-r-t-20-r-20 {
        position: relative;
        top: 20px;
        right: 20px;
    }
    .wdth-100pr{
        width: 100%;
    }
  
}

@media only screen and (min-width: 578px) and (max-width: 992px){
    .tp-20-lft-50{
        top: 20px;
        left: 50px;
    }
}

@media only screen and (min-width: 994px) and (max-width: 1022px){

    .pss-r-lft-72{
        position: relative;
    left: 72px;
    }
    .pss-r-lft-118{
        left: 118px;
        position: relative;
    }
}


@media only screen and (max-width: 1440px){
    .wt-468-mrl_80 {
        flex: 468px;
        max-width: 468px;
        margin-left: 80px;
    }

}

@media only screen and (width: 1440px){
  .marLLL-155{
    margin-left: 155px;
  }
  .ps-chnge{
      position: relative;
    right: 17px;
}

 .margin-T-5{
     margin-top: 5px;
 }
}


@media only screen and (max-width: 768px){
    .marLLL--3{
        margin-left: -3px
    }
    
    .mrL--1-p-r-l-15{
        margin-left: -1px;
        position: relative;
        left: 15px;
    }
    .pd-r-0-pd-l-0{
        padding-right: 0px;
    padding-left: 0px;
    }

  }
  @media only screen and (max-width: 766px){

    .fnt-18{
        font-size: 18px
    }
    .fntt-10{
        font-size: 10px
    }
    .wt-146-ht-45{
        width: 146px;
        height: 45px
    }
    .plchldrcentr::placeholder{
        font-size: 18px;
    }
  }

  @media only screen and (min-width: 770px) and (max-width: 992px){
      .marLL--15{
        margin-left: -15px;
      }
      .marLL-0{
        margin-left:0px
    }
  }
  .htt-21{
   height: 21px
  }
  .hgt-45{
      height: 45px
  }

  .marLL-0{
      margin-left:0px
  }

  @media only screen and (min-width: 578px) and (max-width: 992px){
      .pdd-0
      {
          padding:0px
      }
  }
  .pdB-40{
      padding-bottom: 40px
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1438px){
      .ps-r-l-30{
        position: relative;
        left: 30px;
      }
  }
  @media only screen and (min-width: 1440px){
      .ps-r-45{
        position: relative;
        left: 45px;
      }

     .ps-r-lf-5 {
        position: relative;
        left: 50px;
      }

     .ps-r-R-35{    position: relative;
    
    right: 35px;
  }

  .flx-137{flex: 137px;
    max-width: 137px;}
  }
  @media only screen and (min-width: 992px) and (max-width: 1196px){
      .ps-r-r-14{
        position: relative;
        right: 14px;
      }
     
  }
  @media only screen and (max-width: 992px){
      .algn-cntr{
          text-align: center
      }
    .ps-r-lfft-20 {
        position: relative;
        left: 15px;
    }


   

  }
  @media only screen and (min-width: 992px) and (max-width: 1022px){
      .ps-r-lf-15{    position: relative;
        left: 15px;}
  }
  .marT-2{
      margin-top:2px
  }


  .pd-r-0{
    padding-right: 0px;
}



@media only screen and (min-width: 992px) and (max-width: 1438px){
.pd-rr-0{
    padding-right: 0px
}
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .brdr-5r-f3{
        border-right: 5px solid #f3f3f3;
        border-bottom: 5px solid #f3f3f3;
    }
    #Goldbdnone div:nth-child(2n){
        border-right: 0px solid #f3f3f3;
    }

    #Silverbdnone div:nth-child(2n){
        border-right: 0px solid #f3f3f3;
    }
}

@media only screen and (max-width: 766px){
.brd-btm-21r-f3{
border-bottom: 21px solid #f3f3f3;
}
}


.txt-decor-2b303d{
    text-decoration: none;
    color: #2b303d;
}

.marB-95{
    margin-bottom: 93px
}
.marL--5{
    margin-left: -5px;
}
.pd-0{
    padding: 0px
}
.pd-rrr-0{
    padding-right: 0px
}