<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>2FA Confirm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/styleSheet.css">


</head>

<body class="fontFamily">
    <div class="mainBodyContent">
        <!--navBar Starts-->
        <div class="container-fluid">
            <div class="on-brand nav-style">
                <h2 class="h2-styl">Digital Gold</h2>
            </div>
            <div class="row on-header on-header-sty">
                <div class="dropdown dropdown-c drop-style">
                    <a href="#" class="logged-user txt-decor" data-toggle="dropdown" aria-expanded="true">
                        <span class="right-header-style">Allison Campbell</span>
                        <i class="fa fa-angle-down right-header-style"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bgcolor" x-placement="bottom-end">
                        <nav class="nav">
                            <ul class="ul-style">
                                <li>
                                    <a href="#" class="dg-nav-link li-a-style">Log in</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row on-header hide-me-style">
            </div>
        </div>
        <!--Navbar Ends-->

        <div class="container marT-80 ProgresponsiveWidth">
            <div class="row">
                <div class="on-stepper col-4">
                    <center>
                        <div class="txt-bold progressBarCirlce Progresponsive">1</div>
                        <span class="txt-bold progressBarText colr">Welcome</span>
                    </center>
                </div>
                <div class="on-stepper col-4">
                    <center>
                        <div class="txt-bold progressBarCirlce active Progresponsive">2</div>
                        <span class="txt-bold progressBarText colr">Add Phone</span>
                    </center>
                </div>
                <div class="on-stepper col-4">
                    <center>
                        <div class="txt-bold progressBarCirlce Progresponsive">3</div>
                        <span class="txt-bold progressBarText colr">Complete</span>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="on-stepper col-4 pad-0">
                    <center>
                        <div class="progressBarBGColorActive"></div>
                    </center>
                </div>
                <div class="on-stepper col-4 pad-0">
                    <center>
                        <div class="progressBarBGColorActive"></div>
                    </center>
                </div>
                <div class="on-stepper col-4 pad-0">
                    <center>
                        <div class="progressBarBGColor"></div>
                    </center>
                </div>
            </div>

        </div>


        <div class="container marT-80">
            <!--Body Content Starts-->
            <div class="row marT-60">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <h1 class="verify colr">Enter 2FA Confirmation Code</h1>
                </div>
                <div class="col-12 col-lg-6 offset-lg-3 marT-60">
                    <p class="t-14"><strong>Step 2 of 2:</strong> Please enter the unique confirmation code sent to<br> your mobile phone.</p>
                </div>
            </div>
            <form action="securely-logged-in.html" class="needs-validation" id="create-account" novalidate>
                <div class="form-layout">
                    <div class="form-row">
                        <div class="col-12 col-md-6 col-lg-6 offset-lg-3 ">
                            <div class="form-group marB-10">
                                <label for="code" class="form-control-label">Enter Code</label>
                                <input type="text" name="code" class="form-control" id="code" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your code.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row marT-40">
                    <div class="form-layout-footer col-12 col-lg-6 offset-lg-3">
                        <button class="btn btn-primary bd-0 btn-color heavy" xtype="submit">Complete Signup</button>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-3">
                        <p class="marT-15">
                            Didn't receive a code? <a href="#" class="heavy">Send again.</a><br>
                            <a href="#" class="heavy">Send to a different mobile phone number?</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <!--Body Content Ends-->

    </div>
    <!-- Footer Starts-->
    <div class="container-fluid foot-style">
        <span style="float:left">Digital Gold 	&copy; 2018 </span>
        <span style="float:right">
            <a href="#!" class="footerLinks">Sitemap</a>
            <a href="#!" class="footerLinks">FAQS</a>
            <a href="#!" class="footerLinks">Privacy Policy</a>
            <a href="#!" class="footerLinks">User Agreement</a>
        </span>
    </div>
    <!-- Footer Ends-->
    <script src="../../js/formValidation.js"></script>
</body>
</html>
