<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/styleSheet.css">
    <style>
    </style>
</head>

<body class="fontFamily">
    <!-- ONBOARDING HEADER -->
    <div class="mainBodyContent">

        <!--navBar Starts-->
        <div class="container-fluid">
            <div class="on-brand nav-style">
                <h2 class="h2-styl">Digital Gold</h2>
            </div>
            <div class="row on-header on-header-sty">
                <div class="dropdown dropdown-c drop-style">

                    <a href="#" class="logged-user" data-toggle="dropdown" aria-expanded="true">

                        <span class="right-header-style">Allison Campbell</span>
                        <i class="fa fa-angle-down right-header-style"></i>

                    </a>

                    <div class="dropdown-menu dropdown-menu-right bgcolor" x-placement="bottom-end">
                        <nav class="nav">
                            <ul class="ul-style">
                                <li>
                                    <a href="#" class="dg-nav-link li-a-style">Log in</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
            <div class="row on-header hide-me-style">
            </div>
        </div>

        <!--navBar Ends-->
        <!-- ONBOARDING Content -->
        <div class="container marT-120">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12 marB-60">
                    <h1 class="verify colr black">Create Account</h1>
                </div>
            </div>
            <form action="verify-email.html" class="needs-validation" id="create-account" novalidate>
                <div class="form-layout">
                    <div class="form-row mg-b-25">
                        <div class="col-md-3 offset-md-3 col-xs-12">
                            <div class="form-group marB-10">
                                <label class="form-control-label blackoppo" for="fname">First name</label>
                                <input class="form-control" type="text" name="fname" id="fname" value="" required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your first name.
                                </div>
                            </div><!-- col-6 -->
                        </div> <!-- margin div end -->
                        <div class="col-md-3 push-md-3 col-xs-12">
                            <div class="form-group">
                                <label class="form-control-label blackoppo" for="lname">Last name</label>
                                <input class="form-control" type="text" name="lname" id="lname" value="" required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your last name.
                                </div>
                            </div><!-- col-6 -->
                        </div>
                        <div class="col-md-6 offset-md-3 col-xs-12">
                            <div class="form-group marB-10">
                                <label class="form-control-label" for="email">Email address</label>
                                <input class="form-control" type="email" name="email" id="email" value="" required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your email address.
                                </div>
                            </div>
                        </div><!-- col-12 -->
                        <div class="col-md-6 offset-md-3 col-xs-12">
                            <div class="form-group marB-10">
                                <label class="form-control-label" for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password" value="" required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your password.
                                </div>
                            </div>
                        </div><!-- col-12 -->
                        <div class="col-md-6 offset-md-3 col-xs-12">
                            <div class="form-group marB-10">
                                <label class="form-control-label" for="confirmpw">Confirm password</label>
                                <input class="form-control" type="password" name="confirmpw" id="confirmpw" value="" required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please confirm your password.
                                </div>

                            </div>
                        </div><!-- col-12 -->
                        <div class="col-md-6 offset-md-3 col-xs-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="invalidCheck" value="" required="">
                                    <label class="form-check-label" for="invalidCheck">
                                        <span>By creating this account, you agree to our <a href="#" class="heavy">User Agreement</a> and <a href="#" class="heavy ">Privacy Policy</a>.</span>
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- row -->


                    <div class="row">
                        <div class="form-layout-footer col-md-6 offset-md-3 col-xs-12">
                            <button class="btn btn-primary bd-0 btn-color txt-bold txt-decor" type="submit">Sign up</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-6 offset-md-3 col-xs-12 marT-15">
                <p>Already have an account? <a href="login-dg.html" class="heavy">Log in</a></p>
            </div>
        </div>
    </div>
    <!-- ONBOARDING FOOTER -->
    <div class="container-fluid foot-style">
        <span style="float:left">Digital Gold 	&copy; 2018 </span>
        <span style="float:right">
            <a href="#!" class="footerLinks">Sitemap</a>
            <a href="#!" class="footerLinks">FAQS</a>
            <a href="#!" class="footerLinks">Privacy Policy</a>
            <a href="#!" class="footerLinks">User Agreement</a>
        </span>
    </div>
    <!-- Footer content Ends -->
    <script src="../../js/formValidation.js"></script>
</body>
</html>