<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login to Digital Gold</title>
    <!-- vendor css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/styleSheet.css">
</head>

<body class="fontFamily">
    <!-- ONBOARDING HEADER -->
    <div class="mainBodyContent">
        <!--navBar Starts-->
        <div class="container-fluid">
            <div class="on-brand nav-style">
                <h2 class="h2-styl">Digital Gold</h2>
            </div>
            <div class="row on-header on-header-sty">
                <div class="drop-style">
                    <a href="#" class="logged-user" aria-expanded="true">
                        <span class="right-header-style">Login</span>
                    </a>
                </div>
            </div>
            <div class="row on-header hide-me-style">&nbsp;</div>
        </div>

        <!--Navbar Ends-->
        <!-- ONBOARDING CONTENT -->
        <div class="container marT-60">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12 ">
                    <h1 class="verify colr marT-60">Log in to Digital Gold</h1><br>
                    <p class="t-18 marT-15">Visit your dashboard to view your account balance and holdings or fund your account to start buying and selling Gold or Silver.</p>
                </div>
            </div>
            <form action="login-2fa.html" class="needs-validation marT-15" id="create-account" novalidate>
                <div class="form-layout">
                    <div class="form-row marB-25">
                        <div class="col-md-6 offset-md-3 col-xs-12">
                            <div class="form-group marB-10">
                                <label class="form-control-label formLabelClr" for="email">Email address</label>
                                <input class="form-control" type="email" name="email" id="email" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your email address.
                                </div>
                            </div>
                        </div><!-- col-12 -->
                        <div class="col-md-6 offset-md-3 col-xs-12">
                            <div class="form-group marB-10">
                                <label class="form-control-label formLabelClr" for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your password.
                                </div>
                            </div>
                        </div><!-- col-12 -->
                        <div class="col-md-6 offset-md-3 col-xs-12">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="rememberme" required>
                                <label class="form-check-label" for="rememberme">
                                    <span>Remember me</span>
                                </label>
                            </div>
                        </div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="form-layout-footer col-md-6 offset-md-3 col-xs-12">
                            <button class="btn btn-primary bd-0 btn-color heavy btnPadding" type="submit">Log in</button>
                        </div>
                        <div class="col-md-6 offset-md-3 col-xs-12 marT-15">
                            <p>
                                Need to create an account? <a href="create-account.html" class="heavy">Sign up</a><br>
                                <a href="forgot-password.html" class="heavy">Forgot password?</a>
                            </p>
                        </div>
                    </div><!-- form-layout-footer -->
                </div><!-- form-layout -->
            </form>
        </div>
    </div>

    <!-- Footer Starts-->
    <footer>
        <div class="container-fluid foot-style">
            <span class="l-Float">Digital Gold 	&copy; 2018 </span>
            <span class="r-Float hide-on-SMALL">
                <a href="#!" class="footerLinks">Sitemap</a>
                <a href="#!" class="footerLinks">FAQS</a>
                <a href="#!" class="footerLinks">Privacy Policy</a>
                <a href="#!" class="footerLinks">User Agreement</a>
            </span>
        </div>
    </footer>
    <!-- Footer Ends-->
    <script src="../../js/formValidation.js"></script>
</body>
</html>