<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>2FA Confirm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/styleSheet.css">
</head>

<body class="fontFamily">
    <!-- ONBOARDING HEADER -->
    <div class="mainBodyContent">
        <!--navBar Starts-->
        <div class="container-fluid">
            <div class="on-brand nav-style">
                <h2 class="h2-styl">Digital Gold</h2>
            </div>
            <div class="row on-header on-header-sty">
                <div class="dropdown dropdown-c drop-style">

                    <a href="#" class="logged-user" data-toggle="dropdown" aria-expanded="true">
                        <span class="right-header-style">Allison Campbell</span>
                        <i class="fa fa-angle-down right-header-style caretIconStyle"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right bgcolor" x-placement="bottom-end">
                        <nav class="nav">
                            <ul class="ul-style">
                                <li>
                                    <a href="#" class="dg-nav-link li-a-style">Log in</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
            <div class="row on-header hide-me-style">
            </div>
        </div>

        <!--Navbar Ends-->
        <!-- ONBOARDING CONTENT -->
        <div class="container marT-120">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12 ">
                    <h1 class="verify colr">Enter Your 2FA Code</h1>
                  
                </div>
            </div>
            <form action="../index.html" class="needs-validation" novalidate>
                <div class="form-layout">
                    <div class="row marB-15 marT-40">
                        <div class="col-md-5 offset-md-3 col-xs-12">
                            <div class="form-group marB-zero-pTag">
                                <label class="form-control-label formLabelClr" for="code">Code</label>
                                <input class="form-control bd-0" type="text" name="code" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your authentication code.
                                </div>
                            </div>
                        </div><!-- col-12 -->
                        <div class="col-md-6 offset-md-3 col-xs-12 marT-40">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input bd-0 wt-20-ht-20" id="exampleCheck1" required>
                                <label class="form-check-label marT-4" for="exampleCheck1">
                                    <span class="mar-l-8">Stay logged in for 48 hours?</span>
                                </label>
                            </div>
                        </div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="form-layout-footer col-md-6 offset-md-3 col-xs-12 marT-40">
                            <button class="btn btn-primary bd-0 btn-color btnPadding" type="submit">Confirm Code</button>
                        </div>
                        <div class="col-md-6 offset-md-3 col-xs-12">
                            <p class="marB-zero-pTag marT-15">Didn't get the code?<a href="#"> Resend now</a>
                        </div>
                    </div><!-- form-layout-footer -->
                </div><!-- form-layout -->
            </form>
        </div><!-- Container -->
    </div>
    <!-- Footer Starts-->
    <footer>
        <div class="container-fluid foot-style">
            <span class="l-Float">Digital Gold 	&copy; 2018 </span>
            <span class="r-Float hide-on-SMALL">
                <a href="#!" class="footerLinks">Sitemap</a>
                <a href="#!" class="footerLinks">FAQS</a>
                <a href="#!" class="footerLinks">Privacy Policy</a>
                <a href="#!" class="footerLinks">User Agreement</a>
            </span>
        </div>
    </footer>
    <!-- Footer Ends-->
    <script src="../../js/formValidation.js"></script>
</body>
</html>