<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Buy </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/styleSheet.css">
</head>

<body id="bodyMainID" class="fontFamily">
    <div class="mainBodyContent">
        <!-- Navbar Starts-->
        <div class="container-fluid">
            <div class="on-brand on-brand-style">
                <h2>Digital Gold</h2>
            </div>
            <div class="row on-header on-header-style">
                <div class="icon hide-on-large show-on-med  show-on-small menu-trig-btn" id="menuTrigBtn_responsive"><span class="menuBurgerBtnIcon_responsive" onClick="openNav()"> <em class="fa fa-bars" aria-hidden="true"></em> </span></div>
                <div id="mysidenav_resp_dd" class="sidenav_resp_dd">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a href="#" class="activeNavSel">Buy/Sell</a>
                    <a href="#">Withdraw</a>
                    <a href="#">Reedem</a>
                    <a href="#">Funding</a>
                </div>
                <ul class="hide-on-med hide-on-small navbar-hide-style">
                    <li class="navBarElement Active"> <a href="#!" class="navBarElementColor">Buy</a> </li>
                    <li class="navBarElement"> <a href="#!" class="navBarElementColor">Sell</a> </li>
                    <li class="navBarElement"><a href="#!" class="navBarElementColor">Withdraw</a> </li>
                    <li class="navBarElement"><a href="#!" class="navBarElementColor">Redeem</a> </li>
                    <li class="navBarElement"><a href="#!" class="navBarElementColor">Fund</a> </li>
                </ul>
                <div class="dropdown dropdown-c drop-style hide-on-med hide-on-small">
                    <a href="#" class=" txt-decor" data-toggle="dropdown" aria-expanded="true">
                        <span class="right-header-style">Allison Campbell</span>
                        <i class="fa fa-angle-down i-style"></i>
                    </a>
                    <div class="notificationBellCounter">
                        2
                    </div>
                    <i class="fa fa-bell pad-l-20"></i>
                    <div class="dropdown-menu dropdown-menu-right dropdown-style" x-placement="bottom-end">
                        <nav class="nav">
                            <ul class="ul-style">
                                <li class="li-style">
                                    <a href="#" class="dg-nav-link li-a-style">
                                        <i class="fa fa-user marR-10"></i>
                                        Settings
                                    </a>
                                </li>
                                <li class="li-style">
                                    <a href="#" class="dg-nav-link li-a-style">
                                        <i class="fa fa-cog marR-10"></i>
                                        Docs
                                    </a>
                                </li>
                                <li class="li-style">
                                    <a href="#" class="dg-nav-link li-a-style">
                                        <i class="fa fa-download marR-10"></i>
                                        Account
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row on-header hide-me-style">
                <span class="hide-on-med hide-on-small">
                    &nbsp;
                </span>
            </div>
        </div>
        <!--navBar Ends-->
        <div class="container hide-on-med hide-on-small">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 marT-60 border-btm">
                        <h2 class="txt34">Buy</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-5 ht-auto marT-60 containerBlueBorder" style="width: 340px">
                        <div class="container">
                            <h5 class="align-centr marT-30 t-18"> You are Buying </h5>
                            <h4 class="align-centr marT-15 colr"> Vault Chain Gold</h4>
                            <h6 class="align-centr marT-15  t-14">Current: $1,300.00 Gold Spot  </h6>
                            <div class="t-12 marT-15 txt-color">
                                <span> Payment Method </span>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <span class="t-18 colr marT_15"><img src="../../img/chase_img.png"> Chase Account ******77745 </span>
                            </div>
                            <div class="t-12 marT-15 txt-color">
                                <span>Deposit To </span>
                            </div>
                            <div class="col-md-12 col-lg-12 colr marT_15">
                                <span>   <i class="fa fa-id-card" aria-hidden="true"></i>  Wallet </span>
                            </div>
                            <div class="marT-15 txt-color">
                                <span class="t-12"> Availablity to Trade</span>
                            </div>
                            <div class="col-md-12 col-lg-12 colr marT_15">
                                <span> Instantly</span>
                            </div>
                            <div class="marT-15 txt-color">
                                <span class="t-12"> Availablity to withdraw or  redeem</span>
                            </div>
                            <div class="col-md-12 col-lg-12 colr marT_15">
                                <span> In 5 Days</span>
                            </div>
                           
                            
                            <div class="col-md-12 col-lg-12 marT-10  pad-0">
                              <div class="container">
                               <div class="row">
                               		<div class="col-md-4 col-lg-4 pad-0">
										<span class="t-18 colr pad-0"> Sub Total</span>
                               		</div>
			                 		<div class="col-md-6 col-lg-6 pad-0">
                               			<span class="txt-color t-12">. . . . . . . . . . . . . . . . . . . . .  . .</span>
                               		</div>
                               		<div class="col-md-2 col-lg-2">
                               			<span class="t-18 colr align-rgt marL--10"> $8.00</span>
                               		</div>
 		                       </div>
 		                     
                            </div>
                            <div class="col-md-12 col-lg-12 marT-10  pad-0">
    							<span class="t-12 txt-color"> Breakdown Of Fees</span>                         
                            </div>   
                            <div class="col-md-12 col-lg-12 marT-10 pad-0">
                               <span class="t-12 txt-color float_left"> Transaction Fee . . . . . . . . . . . . . . . . . . . . . . . . . . . . <span class="align-rgt">$4.00</span>  </span>
                            </div>
                            <div class="col-md-12 col-lg-12 pad-0 marR-10">
                                <span class="t-12 txt-color marT-10 align-rgt"> Processing Fee . . . . . . . . . . . . . . . . . . . . . . . . . . . ..<span class="pad-0"> $4.00</span>  </span>
                            </div>
                            <div class="col-md-12 col-lg-12 marT-10 pad-0">
                            <div class="container">
                            	<div class="row">
                            			<div class="col-lg-3 col-md-3 pad-0">
                            				<span class="t-18 colr pad-0">
                            					Total
                            				</span>
                            			</div>
                             			<div class="col-lg-7 col-md-7 pad-0">
                            				<span class="txt-color t-12">. . . . . . . . . . . . . . . . . . . . . . . . . . . .  </span>
                            			</div>
                            			<div class="col-lg-2 col-md-2 pad-0 align-rgt">
                            				<span class="colr t-18 align-rgt marL--10"> $8.00</span>
                            			</div>
                            	</div>
                            	</div>
                            </div>
                             
<!--                                <span class="t-14 float_left marT_15 colr"> Total. . . . . . . . . . . . . . . . . .  . . . . . . . . . .$8.00</span>-->
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 marT-5 marT_15 align-rgt">
                            <span class="t-12"><a href="#" class="txt-decor-black marB-40 marT-10 edge float-right"><u> Learn more about our fees  here </u></a></span>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8 marT-60">
                        <span class="float-right txt-color"> your prices will expire in <span class="t-24" id="demo">02</span><span class="t-24"></span> </span>

                        
                        <button class="col-md-12 btn btn-primary pad-10 bd-0 wid-215 min-width-120 marL--200 " data-toggle="modal" data-target="#modalEnd-ID" id="TriID" style="display: none">
                        
                        	
                        </button>
                        <!-- Modal Starts-->
                        <div id="modal-Call">
                            <div class="modal fade" id="modalEnd-ID" tabindex="-1" role="dialog" aria labelledby="modalEnd-IDTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content brd-colr">
                                        <div class="modal-header">
                                            <h5 class="modal-title r-float t-24 pad-l-130" id="modalEnd-IDTitle">Price Has Expired</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      												<span aria-hidden="true">&times;</span>
                 							   </button>
                                        </div>
                                        <div class="modal-body">
                                            <center>
                                                <i class="fa fa-clock-o t-100 colr" aria-hidden="true"></i>				   		
                                                   <div class="container marT-40">
                                                    <span class="align-centr">The 10 minutes price look for your order has expired. Please select "Refresh Prices" below to return to the buying process and see your updated pricing.   </span>
                                                    <div class="modal-footer align-center marT-30 marB-40 marL0-marR0">
                                                        <button type="button" class="btn btn-primary wid-100p bd-0">Refresh Prices</button>
                                                    </div>
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Ends-->
                        </div>
                        <div class="marT-120 align-centr col-lg-12 col-md-12 marR10per">
                            <span class="t-24 colr marL--200 marR-10"> Confirm your Buy</span>
                            <div class=" col-md-6 col-lg-6 offset-1 align-centr marT-15">
                                Funds will  be debited witin 24 hours or within 3 buisness days for ACH transfer
                            </div>
                            <div class=" col-md-12 col-lg-12 marT-30">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4 marT-10 marR-40 mar-l-10">
                                        <button class="col-md-12 btn btn-default pad-10 bd-0 wid-215 bd-white-btn colr wid-100p min-width-120 ">
                                            <span class="align-centr">   Cancel</span>
                                        </button>
                                    </div>
                                    <div class="col-md-12 col-lg-2 ">

                                    </div>
                                    <div class="col-md-12 col-lg-4 marT-10">
                                        <button class="col-md-12 btn btn-primary pad-10 bd-0 wid-215 min-width-215 marL--200 " data-toggle="modal" data-target="#modalID" id="btnID">
                                            <span class="align-left">Confirm Buy</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container hide-on-large show-on-med show-on-small">
            <div class="col-12 col-sm-12">
                <h3 class="align-centr marT-30 pad-b-10 borderCust"> Buy  </h3>
            </div>
            <div class="col-12 col-sm-12 marT-20 txt-light">
                <h6 class="align-centr t-24"> You are Buying </h6>
            </div>
            <div class="col-12 col-sm-12 marT-20 txt-light">
                <h4 class="align-centr colr t-24 "> Vault Chain Gold </h4>
            </div>
            <div class="col-12 col-sm-12 marT-20 align-centr">
                <span class="t-14"> Current: $1,300 Gold Spot </span>
            </div>
            <div class="col-12 col-sm-12 marT-20">
                <span class="txt-color t-18">Amount </span>
            </div>
            <div class="col-12 col-sm-12 marT-10">
                <div class="row">
                    <div class="col-sm-7 col-6">
                        <input class="col-sm-12 col-12 t-12 pad-10 height54" type="text" placeholder="$0000.00 &nbsp USD" />
                    </div>
                    <div class="col-sm-1 col-1">
                        <i class="fa fa-arrows-h marT-10 t-22 font-clr" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-4 col-4">
                        <div>
                            <select class="custom-select t-14 pad-10 ht-50 bd-0 input-styl height54" id="inputGroupSelect03">
                                <option selected>0 G</option>
                                <option value="1">1 G</option>
                                <option value="2">2 G</option>
                                <option value="3">3 G</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pad-0 row">
                    <div class="col-md-12 col-lg-12 marT-15 float_left pad-0">
                        <span class="t-18 float_left txt-color t-18"> Payment Method </span>

                        <div class="col-sm-12 col-12 marT-10 marB-10  pad-0">
                            <div class="btn-group dropdown col-12 marT-10 pad-0 col-lg-12 col-md-12">
                                <button type="button" class="btn t-14 custom-select wid-100p bd-0 align-left height54" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="myWalletID">My wallet </button>
                                <div class="dropdown-menu wid-100p">
                                    <a class="dropdown-item" href="#" id="walletID1" onclick="changeWalletDD(this.id)"><i class="fa fa-id-card colr" aria-hidden="true"></i> &nbsp;<span class="txt-color"> Wallet  </span></a>
                                    <hr> <a class="dropdown-item" href="#" id="walletID2" onclick="changeWalletDD(this.id)"><i class="fa fa-address-card colr" aria-hidden="true"></i> &nbsp;<span class="txt-color"> Bank Account  </span></a>
                                    <hr><a class="dropdown-item" href="#" id="walletID3" onclick="changeWalletDD(this.id)"><i class="fa fa-refresh colr" aria-hidden="true"></i> &nbsp;<span class="txt-color"> Wire Transfer  </span></a>
                                    <hr> <a class="dropdown-item" href="#" id="walletID4" onclick="changeWalletDD(this.id)"><i class="fa fa-credit-card colr" aria-hidden="true"></i> &nbsp;<span class="txt-color"> Credit Card  </span></a>
                                    <hr> <a class="dropdown-item" href="#" id="walletID5" onclick="changeWalletDD(this.id)"><i class="fa fa-btc colr" aria-hidden="true"></i> &nbsp;<span class="txt-color"> Bitcoin  </span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-12  pad-0">
                            <div class="btn-group col-12 marT-10 pad-0 col-lg-12 col-md-12">
                                <button type="button" class="btn t-14 custom-select wid-100p bd-0 align-left height54" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../img/chase_img.png"> Chase Account ending 8905  </button>
                                <div class="dropdown-menu wid-100p">
                                    <a class="dropdown-item" href="#" id="walletID5" onclick="changeWalletDD(this.id)"><img src="../../img/chase_img.png"><span class="txt-color"> Chase Account ending 8905   </span> </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 marT-5 pad-0">
                            <div class="row">
                                <div class="col-sm-6 col-6 marT-5">
                                    <span class="float_left t-12 txt-color">Limits &nbsp $1,000.00 USD </span>
                                </div>
                                <div class="col-sm-6 col-6">
                                    <span class="txt-decor-black t-12 txt-color float_right marT-15 "><a href=""><u> What does this mean? </u></a><span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-12 marT-15 pad-0">
                            <span class="t-18 colr"> Sub Total . . . . . . . . . . . . . . $8.00  </span>
                        </div>
                        <div class="col-sm-12 col-12  pad-0">
                            <span class="t-14 marT-10 float_left txt-color"> Breakdown of Fees </span>
                        </div>
                        <div class="col-sm-12 float_left  col-12  pad-0">
                            <span class="t-14 marT-10 txt-color">
                                Transaction Fee . . . . . . . . . . . . . . $4.00
                            </span>
                        </div>
                        <div class="col-12 col-sm-12  pad-0">
                            <span class="t-14 marT-10 float_left txt-color"> Processing Fee . . . . . . . . . . . . . . $4.00  </span>
                        </div>
                        <div class="col-12 col-sm-12 marT-10 float_left pad-0">
                            <button class="btn btn-primary bd-0 wid-100p pad-15">
                                Buy Vault Chain Gold For $1,377.62
                            </button>
                        </div>
                        <div>
                            <span> <a href="#" class="txt-decor-black t-12 txt-color float_right marT-15 "><u> Learn about our fees here </u></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer Starts-->
    <footer>
        <div class="container-fluid foot-style">
            <span class="l-Float hide-on-small">Digital Gold &copy; 2018 </span>
            <span class="r-Float hide-on-small">
                <a href="#!" class="footerLinks">Sitemap</a>
                <a href="#!" class="footerLinks">FAQS</a>
                <a href="#!" class="footerLinks">Privacy Policy</a>
                <a href="#!" class="footerLinks">User Agreement</a>
            </span>
        </div>
    </footer>
    <!-- Footer Ends-->
    <!-- Modal Starts-->
    <div class="modal fade " id="modalID" tabindex="-1" role="dialog" aria labelledby="modaIDTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content brd-colr">
                <div class="modal-header">
                    <h5 class="modal-title align-left marL--20 marR-10 t-34 black-lite pad-l-100 opac-70" id="modalIDTitle">Transaction Successful</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <center>
                        <i class="fa fa-check-circle-o t-100 txt-light colr" aria-hidden="true"></i>
                        <div class="container marT-40">
                            <span class="align-centr">"Thank you for submitting a Buy Order. You can view the full details in this order at any time on your dashboard  and within your profile settings."  </span>
                            <div class="modal-footer align-left  marT-30 marL0-marR0 marB-40">
                                <button type="button" class="btn btn-primary white wid-100p bd-0"><a href="#" class="white">Back to dashboard</a></button>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Ends-->

    <script src="../../js/buy.js"></script>
    <script src="../../js/script.js"></script>


</body>
</html>
