<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Sell </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/styleSheet.css">
    <style>
    </style>
</head>
<body class="fontFamily">

    <div class="mainBodyContent">
        <!-- Navbar Starts-->
        <div class="container-fluid">
            <div class="on-brand on-brand-style">
                <h2>Digital Gold</h2>
            </div>
            <div class="row on-header on-header-style">

                <div class="icon hide-on-large show-on-med  show-on-small menu-trig-btn" id="menuTrigBtn_responsive">
                    <span class="menuBurgerBtnIcon_responsive" onclick="openNav()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>
                </div>



                <div id="mysidenav_resp_dd" class="sidenav_resp_dd">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a href="#" class="activeNavSel">Buy/Sell</a>
                    <a href="#">Withdraw</a>
                    <a href="#">Reedem</a>
                    <a href="#">Funding</a>
                </div>



                <ul class="hide-on-med hide-on-small navbar-hide-style">
                    <li class="navBarElement Active"> <a href="#!" class="navBarElementColor">Buy</a> </li>
                    <li class="navBarElement"> <a href="#!" class="navBarElementColor">Sell</a> </li>
                    <li class="navBarElement"><a href="#!" class="navBarElementColor">Withdraw</a> </li>
                    <li class="navBarElement"><a href="#!" class="navBarElementColor">Redeem</a> </li>
                    <li class="navBarElement"><a href="#!" class="navBarElementColor">Fund</a> </li>
                </ul>


                <div class="dropdown dropdown-c drop-style hide-on-med hide-on-small">
                    <a href="#" class=" txt-decor" data-toggle="dropdown" aria-expanded="true">
                        <span class="right-header-style">Allison Campbell</span>
                        <i class="fa fa-angle-down i-style"></i>

                    </a>



                    <div class="notificationBellCounter">
                        2
                    </div>


                    <i class="fa fa-bell pad-l-20"></i>
                    <div class="dropdown-menu dropdown-menu-right dropdown-style" x-placement="bottom-end">
                        <nav class="nav">
                            <ul class="ul-style">
                                <li class="li-style">
                                    <a href="#" class="dg-nav-link li-a-style">
                                        <i class="fa fa-user marR-10"></i>
                                        Settings
                                    </a>
                                </li>
                                <li class="li-style">
                                    <a href="#" class="dg-nav-link li-a-style">
                                        <i class="fa fa-cog marR-10"></i>
                                        Docs
                                    </a>
                                </li>
                                <li class="li-style">
                                    <a href="#" class="dg-nav-link li-a-style">
                                        <i class="fa fa-download marR-10"></i>
                                        Account
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
            <div class="row on-header hide-me-style">
                <span class="hide-on-med hide-on-small">
                    EXAMPLE SCROLLING TICK TEXT | 24 Hour Change Gold 116.42 | 24 Change Silver 116.42
                </span>
            </div>
        </div>
        <!--navBar Ends-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 marT-60 border-btm">
                    <h2 class="txt34">Sell</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-8 marB-25">
                    <h5 class="marT-60 "> Choose A Product </h5>
                    <div class="row pad-l-20">
                        <div class="col-md-3  col-lg-3 marT-25">
                            <span class="t-18 colr"> Name</span>
                        </div>
                        <div class="col-md-2  col-lg-2 marT-25">
                            <span class="t-18 colr"> Metal </span>
                        </div>
                        <div class="col-md-2  col-lg-2 marT-25">
                            <span class="t-18 colr"> Location </span>
                        </div>
                        <div class="col-md-2  col-lg-2 marT-25">
                            <span class="t-18 colr"> Vault </span>
                        </div>
                        <div class="col-md-3  col-lg-3 marT-25">
                            <span class="t-18 colr"> Price </span>
                        </div>
                    </div>
                    <div id="col-lg-12 col-md-12 accordion marT-25">
                        <div class="card">
                            <div class="card-style bg" id="headingOne">
                                <h5 class="mb-0 pad-0 white">
                                    <button class="btn btn-link pad-0 white t-14 txt-decor" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                <i class="fa fa-angle-down up-down-styl" aria-hidden="true">&nbsp;</i>
                                                <span class="up-down-styl"> Vault chain Gold </span>
                                            </div>
                                            <div class="col-md-2 col-lg-2 align-left pad-l-50">
                                                Gold
                                            </div>
                                            <div class="col-md-2 col-lg-2 pad-l-50">
                                                New York
                                            </div>
                                            <div class="col-md-2 col-lg-2 pad-l-70">
                                                USA
                                            </div>
                                            <div class="col-md-3 col-lg-3 pad-l-70">
                                                $1,300.00 USD
                                            </div>
                                        </div>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body col-brd">
                                    <div class="row">
                                        <div class="col-md-7 col-lg-7 pad-l-20 ">
                                            <span class="t-12">  Backed by physical Gold vaulted with the royal Canadian Mint, one the most trusted mints in the World. <a href="#"> Learn More.</a> </span>
                                        </div>
                                        <div class="col-md-2 align-centr col-lg-2 t-12">
                                            <span> Ticker </span></br>
                                            <span> Partner</span></br>
                                            <span> Spread</span></br>
                                            <span><a href="#">Storage Fee</a>  </span></br>
                                        </div>
                                        <div class="col-md-3 align-centr col-lg-3 t-12">
                                            <span> AUR </span></br>
                                            <span> RCM </span></br>
                                            <span> 0.75% </span></br>
                                            <span> 0.06% per annual </span></br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="card">
                            <div class="card-style" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link pad-0 black t-14" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                <i class="fa fa-angle-up up-down-styl " aria-hidden="true">&nbsp;</i>
                                                <span class="up-down-styl">Silver-APMEX-US </span>
                                            </div>
                                            <div class="col-md-2 col-lg-2 align-left pad-l-50">
                                                Silver
                                            </div>
                                            <div class="col-md-2 col-lg-2 pad-l-50">
                                                Toronto
                                            </div>
                                            <div class="col-md-2 col-lg-2 pad-l-70">
                                                USA
                                            </div>
                                            <div class="col-md-3 col-lg-3 pad-l-70">
                                                $1,300.00 USD
                                            </div>
                                        </div>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-7 col-lg-7 pad-l-20 ">
                                            <span class="t-12">  Backed by physical Gold vaulted with the royal Canadian Mint, one the most trusted mints in the World. <a href="#"> Learn More.</a> </span>
                                        </div>
                                        <div class="col-md-2 col-lg-2 t-12 pad-l-20" style="text-align: left">
                                            <span> Ticker </span></br>
                                            <span> Partner</span></br>
                                            <span> Spread</span></br>
                                            <span><a href="#">Storage Fee</a>  </span></br>
                                        </div>
                                        <div class="col-md-3  col-lg-3 t-12" style="text-align: left">
                                            <span> AUR </span></br>
                                            <span> RCM </span></br>
                                            <span> 0.75% </span></br>
                                            <span> 0.06% per annual </span></br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-style" id="headingSix">
                                <h5 class="mb-0">
                                    <button class="btn btn-link pad-0 black t-14" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3 up-down-sty">
                                                <i class="fa fa-angle-up up-down-styl " aria-hidden="true">&nbsp;</i>
                                                <span class="up-down-styl"> Silver-APMEX-US </span>
                                            </div>
                                            <div class="col-md-2 col-lg-2 align-left pad-l-50">
                                                Silver
                                            </div>
                                            <div class="col-md-2 col-lg-2 pad-l-50">
                                                Toronto
                                            </div>
                                            <div class="col-md-2 col-lg-2 pad-l-70">
                                                USA
                                            </div>
                                            <div class="col-md-3 col-lg-3 pad-l-70">
                                                $1,300.00 USD
                                            </div>
                                        </div>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-7 col-lg-7 pad-l-20 ">
                                            <span class="t-12">  Backed by physical Gold vaulted with the royal Canadian Mint, one the most trusted mints in the World. <a href="#"> Learn More.</a> </span>
                                        </div>
                                        <div class="col-md-2 align-centr col-lg-2 t-12">
                                            <span> Ticker </span></br>
                                            <span> Partner</span></br>
                                            <span> Spread</span></br>
                                            <span><a href="#">Storage Fee</a>  </span></br>
                                        </div>
                                        <div class="col-md-3 align-centr col-lg-3 t-12">
                                            <span> AUR </span></br>
                                            <span> RCM </span></br>
                                            <span> 0.75% </span></br>
                                            <span> 0.06% per annual </span></br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 col-lg-4 marB-25 marT-25 ht-550" style="border: 1px solid #296EFB">
                    <div class="container align-centr marT-25">
                        <span class="t-18 ">
                            You Are Selling
                        </span>
                        <h4 class="colr t-24"> Vault Chain Gold </h4>
                        <span class="t-14 align-centr">
                            Current: $1,300.00 Gold Spot
                        </span>
                        <div class="row">
                            <div class="c0l-md-6 col-lg-6 marT-10 ">
                                <span class="t-18 float_left txt-color"> Amount </span>
                                <input class="number input-styl col-lg-12 col-md-12 t-12" type="text" placeholder="$0000.00 &nbsp USD" />
                            </div>

                            <div class="c0l-md-1 col-lg-1 marT-35">
                                <i class="fa fa-arrows-h marT-10 t-14" aria-hidden="true"></i>
                            </div>

                            <div class="c0l-md-4 col-lg-4 marT-40">
                                <div>
                                    <select class="custom-select t-14  bd-0 input-styl" id="inputGroupSelect03">
                                        <option selected>0 G</option>
                                        <option value="1">1 G</option>
                                        <option value="2">2 G</option>
                                        <option value="3">3 G</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="pad-0">
                            <div class="col-md-12 col-lg-12 marT-15 float_left pad-0">
                                <span class="t-18 float_left txt-color"> Payment Method </span>

                                <div class="col-md-12 col-lg-12 marT-10 marB-10 float_left pad-0">
                                    <select class="custom-select t-14 bd-0 input-styl" id="inputGroupSelect03">
                                        <option selected>My Wallet</option>
                                        <option value="1">1 G</option>
                                        <option value="2">2 G</option>
                                        <option value="3">3 G</option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-lg-12  pad-0">
                                    <select class="custom-select t-14  bd-0 input-styl" id="inputGroupSelect03">
                                        <option selected>Choose account ending 8906</option>
                                        <option value="1">1 G</option>
                                        <option value="2">2 G</option>
                                        <option value="3">3 G</option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-lg-12 marT-5 pad-0">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 marT-5">
                                            <span class="float_left t-12 txt-color">Limits &nbsp $1,000.00 USD  </span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 marT-5">
                                            <span class="float t-12 txt-color"><a href=""> What does this mean?</a><span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md=12 col-lg-12 marT-15 pad-0">
                                    <span class="t-18 colr"> Sub Total . . . . . . . . . . . . . . . . . $8.00  </span>
                                </div>
                                <div class="col-md=12 col-lg-12 marT-10 pad-0">
                                    <span class="t-14 float_left"> Breakdown of Fees </span>
                                </div>
                                <div class="col-md=12 col-lg-12 marT-5 pad-0">
                                    <span class="t-14 float_left"> Transaction Fee . . . . . . . . . . . . . . . . . . . .$4.00  </span>
                                </div>
                                <div class="col-md-12 col-lg-12 marT-5 pad-0">
                                    <span class="t-14 float_left"> Processing Fee . . . . . . . . . . . . . . . . . . . . $4.00  </span>
                                </div>
                                <div class="col-md=12 col-lg-12 marT-10 float_left pad-0">
                                    <button class="btn btn-primary bd-0 pad-15">
                                        Sell Vault Chain Gold For $1,377.62
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Starts-->

    <footer>
        <div class="container-fluid foot-style">
            <span class="l-Float hide-on-small">Digital Gold &copy; 2018 </span>
            <span class="r-Float hide-on-small">
                <a href="#!" class="footerLinks">Sitemap</a>
                <a href="#!" class="footerLinks">FAQS</a>
                <a href="#!" class="footerLinks">Privacy Policy</a>
                <a href="#!" class="footerLinks">User Agreement</a>
            </span>
        </div>
    </footer>

    <!-- Footer Ends-->

</body>
</html>