<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/styleSheet.css">

</head>

<body>
	<div>
        <h5 class="align-centr t-36 black-lite opac-70 marT-80">Transaction Successful</h5>
      
    </div>
    <div class="modal-body">
       	<center>
       		<i class="fa fa-check-circle-o t-100 txt-light colr" aria-hidden="true"></i>
       		<div class="container marT-40">
       			<span class="align-centr">Thank you for submitting a Sell Order. You can view the full details in this order at any time on your dashboard  and within your profile settings.  </span>
       			  <div class="marT-30 marB-40">
      				  <button type="button" class="btn btn-primary wid-100p bd-0">Back to dashboard</button>
			      </div>
    		</div>
       	</center>
       	
      </div>
		
	</div>



</body>
</html>
