<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Convenience</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/convinience.css">
    <link rel="stylesheet" href="../../css/stylesheet.css">
    <link rel="stylesheet" href="../../css/navBar_Home_Conv.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="../../js/anim.js"></script>
    <script>
        new WOW().init();
    </script>
</head>

<body id="bodyMainID" class="fontFamily">


    <div class="mainBodyContent ovrlfw-x">

        <div class="container-fluid">
            <div class="on-brand on-brand-style">
                <h2 class="ft-40">OneGold</h2>
            </div>
            <div class="row on-header on-header-style">
                <div class="icon hide-on-large show-on-med  show-on-small menu-trig-btn" id="menuTrigBtn_responsive">
                    <span class="menuBurgerBtnIcon_responsive" onclick="openNav()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>
                </div>
                <div id="mysidenav_resp_dd" class="sidenav_resp_dd">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a href="#" class="activeNavSel">How It Works?</a>
                    <a href="#">About Us</a>
                    <a href="#">Products</a>
                    <a href="#">Login</a>
                    <a href="#">Signup</a>
                </div>

                <ul class="hide-on-med hide-on-small navbar-hide-style posRelL200px">
                    <li class="navBarElement oneGoldText "> <a href="#!" class="navBarElementColor">How It Works</a> </li>
                    <li class="navBarElement oneGoldText"> <a href="#!" class="navBarElementColor">About Us</a> </li>
                    <li class="navBarElement oneGoldText"><a href="#!" class="navBarElementColor">Products</a> </li>
                </ul>

                <div class="dropdown dropdown-c drop-style hide-on-med hide-on-small ">

                    <ul class="hide-on-med hide-on-small navbar-hide-style posRelTop-28px">
                        <li class="navBarElement oneGoldText"><a href="#!" class="navBarElementColor">Log In</a> </li>
                        <li class="navBarElement oneGoldText"><a href="#!" class="navBarElementColor">Sign Up</a> </li>
                    </ul>

                </div>
            </div>
         
        </div>



     

        <div class="container">
            <div class="row marT86Resp62 marB100Resp ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 align-centr">
                    <center class="noCenterSmall">
                        <span class="colr fSize56Resp24">Convenience</span>
                        <div class="bg ht-30 wid-330"></div>
                    </center>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 align-centr marT-20">
                    <center class="noCenterSmall">
                        <div class="colr wid588Resp">
                            Being an investor shouldn't take up all of your time. OneGold strives to make the entire process as we can. We accept several <a href="#!" class="link">payment options</a>, provide a quick <a href="#!" class="link"> buying and selling process</a>, offer true <a href="#!" class="link">  redemption</a> for physical products, allow you to set up <a href="#!" class="link">recurring buys</a> and provide you with historical and real-time <a href="#!">charting</a>information.
                        </div>
                    </center>
                </div>
            </div>
        </div>



        <div class="ht-auto blackBg marPB100Resp animated wow  fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT86Resp62">
                        <div class="whiteFont fSize56Resp24"> Range of Payments</div>
                        <div class="bg-white ht-30 wid584Resp">

                        </div>
                        <div class="marT-24 wid584Resp">
                            <span class="whiteFont ft-18">
                                Once you have created your free account, you are ready to start trading immediately, We accept range of payment options let you choose how to invest. You can purchase products using 	a credit card, Bitcoin, wire transfer, your pre-funded OneGold Account or you can link your bank account.
                                <br><br>
                                With our flexible funding options,you can buy at any time when the price is right for your investing needs. You can either check out as you go, similar to any online retail site, or pre-fund your account so the funds are ready whenever you are.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT123Resp">
                        <center>
                            <img src="../../img/Range-of-Payments.png" class="paymentImg">
                        </center>
                    </div>
                </div>

            </div>
        </div>





        <div class="ht-auto  marPB100Resp animated wow  fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT123Resp hide-on-med hide-on-SMALL">
                        <center>
                            <img src="../../img/7.png" class="buySellImage">
                        </center>
                    </div>


                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT86Resp62">
                        <div class=" fSize56Resp24">Buying & Selling</div>
                        <div class="blackBg ht-30 wid584Resp">

                        </div>
                        <div class="marT-24 wid584Resp">
                            <span class=" ft-18">
                                Not only do we want you to be able to buy and sell at your convenience but we understand the desire to settle quickly as well. Your OneGold account represents your actual holdings and we make it easy to cash out at any time. When you are ready to withdraw funds, you can choose to recieve a physical check or a deposit to your linked bank account.
                                <br>
                                <br>
                                The OneGold platform can be used on any device, from your desktop to your mobile phone, allowing you to invest where and when you want. All prices are updated in real time so you can compare and shop on a go.
                            </span>
                        </div>
                    </div>

                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT123Resp hide-on-large">
                        <center>
                            <img src="../../img/7.png" class="buySellImage">
                        </center>
                    </div>

                </div>

            </div>
        </div>




        <div class="ht-auto bg marPB100Resp animated wow  fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT86Resp62">
                        <div class="whiteFont fSize56Resp24">Online Redemption</div>
                        <div class="bg-white ht-30 wid584Resp onlineRedemp">

                        </div>
                        <div class="marT-24 wid584Resp onlineRedemp">
                            <span class="whiteFont ft-18">
                                One of the most unique aspect of OneGold is our physical redemption program. Since all digital OneGold products are backed by real assets, you are able to redeem your funds for coins, bars or rounds whenever you choose. Simply select from a variety of Gold and Silver products, confirm your shipping address and that's it. All physical OneGold orders are fulfilled by APMEX via white label dropshipping. Orders are shipped in discreet packaging, directly to you from one of the most trusted name in the precious metal industry.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT123Resp">
                        <center>
                            <img src="../../img/selection.png" class="onlineRedemptionImage">
                        </center>
                    </div>
                </div>

            </div>
        </div>



        <div class="ht-auto  marPB100Resp animated wow  fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT123Resp hide-on-med hide-on-SMALL">
                        <center>
                            <img src="../../img/Continuityv.png" class="contiImage">
                        </center>
                    </div>


                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT86Resp62">
                        <div class=" fSize56Resp24 colr">Continuity Program</div>
                        <div class="bg ht-30 wid584Resp continuity">
                        </div>
                        <div class="marT-24 wid584Resp continuity">
                            <span class="colr ft-18">
                                We want to help make investing work for you so you don't have to worry for your investments. The OneGold platform makes it easy to set up recurring buys that will automatically repeat at your chosen frequency. This allows you to build your investment, at your pace, without having to remind yourself to make a transaction.
                                <br>
                                <br>
                                Recurring buys can be set up for a certain dollar value or product amount. No matter how the gold or silver market moves, our system will autmatically credit your account or other selected payment method. Make investing easy with OneGold.

                            </span>
                        </div>
                    </div>

                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT123Resp hide-on-large">
                        <center>
                            <img src="../../img/Continuityv.png" class="contiImage">
                        </center>
                    </div>

                </div>

            </div>
        </div>



        <div class="ht-auto greyBG marPB100Resp animated wow  fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT86Resp62">
                        <div class="whiteFont fSize56Resp24 colr">Charting</div>
                        <div class="bg ht-30 wid584Resp ">

                        </div>
                        <div class="marT-24 wid584Resp ">
                            <span class="colr ft-18">
                                One of the most unique aspect of OneGold is our physical redemption program. Since all digital OneGold products are backed by real assets, you are able to redeem your funds for coins, bars or rounds whenever you choose. Simply select from a variety of Gold and Silver products, confirm your shipping address and that's it. All physical OneGold orders are fulfilled by APMEX via white label dropshipping. Orders are shipped in discreet packaging, directly to you from one of the most trusted name in the precious metal industry.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 marT123Resp">
                        <center>
                            <img src="../../img/Charting.png" class="chartImage">
                        </center>
                    </div>
                </div>

            </div>
        </div>











        <footer class="animated wow  fadeInUp">
            <div class="blackBg footerPadT-94px">
                <div class="container ">
                    <div class="row whiteFont leftAlign">

                        <div class="col-lg-8">

                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12 font28px heavy">Company</div>
                                        <div class="col-lg-12 font24px  marT-16px">About Us</div>
                                        <div class="col-lg-12 font24px marT-30px">How it Works</div>
                                        <div class="col-lg-12 font24px marT-30px">Products</div>
                                        <div class="col-lg-12 font24px marT-30px">FAQ Center</div>
                                        <div class="col-lg-12 font24px marT-30px">Why Digital Gold?</div>
                                        <div class="col-lg-12 font24px marT-30px">Contact Us</div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12 font28px heavy respmarTop30px">Policies</div>
                                        <div class="col-lg-12 font24px  marT-16px">User Agreement</div>
                                        <div class="col-lg-12 font24px marT-30px">Privacy Policy</div>
                                        <div class="col-lg-12 font24px marT-30px">Site Map</div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="row ">
                                        <div class="col-lg-12 font28px heavy respmarTop30px">Education</div>
                                        <div class="col-lg-12 font24px  marT-16px">Blog</div>
                                        <div class="col-lg-12 font24px marT-30px">Charts</div>
                                        <div class="col-lg-12 font24px marT-30px">Convenience</div>
                                        <div class="col-lg-12 font24px marT-30px">Redemption</div>
                                        <div class="col-lg-12 font24px marT-30px">Security</div>
                                        <div class="col-lg-12 font24px marT-30px">Accessibility</div>
                                        <div class="col-lg-12 font24px marT-30px">Trust</div>
                                        <div class="col-lg-12 font24px marT-30px">Selection</div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-4">
                            <div class="row respmarTop30px">
                                <div class="col-lg-12 font21px pad-0">Stay Informed with Digital Gold News</div>

                                <div class="col-lg-12">
                                    <div class="row height64px">
                                        <div class="bg pad-0 inputParentWidth">
                                            <input type="text" value="yourname@email.com" class="inputWidth" />
                                        </div>
                                        <div class="bg paperWidth">
                                            <center>
                                                <img src="../../img/paper.png" class="paperImage">
                                            </center>
                                        </div>
                                    </div>

                                    <div class="row pad-0 marT-30">
                                        <div class="col-lg-12 pad-0">
                                            <div class="row">

                                                <div class="col-3">
                                                    <img src="../../img/Social-Facebook.png" class="footerImages">
                                                </div>

                                                <div class="col-3">
                                                    <img src="../../img/Social-Google-Plus.png" class="footerImages">
                                                </div>

                                                <div class="col-3">
                                                    <img src="../../img/Social-Twitter.png" class="footerImages">
                                                </div>

                                                <div class="col-3">
                                                    <img src="../../img/youtube.png" class="footerImages">
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="row hide-on-med hide-on-SMALL">
                        <div class="border-bottomBG"></div>
                    </div>


                    <div class="row marT-70 hide-on-med hide-on-SMALL">
                        <div class="col-2">
                            <center>
                                <img src="../../img/apmex-white.png">
                            </center>
                        </div>
                        <div class="col-3 relT-10PX">
                            <center>
                                <img src="../../img/sprott-white.png">
                            </center>
                        </div>
                        <div class="col-3">
                            <center>
                                <img src="../../img/tradewind-white.png">
                            </center>
                        </div>
                        <div class="col-2">
                            <center>
                                <img src="../../img/brinks-white.png">
                            </center>
                        </div>
                        <div class="col-2">
                            <center>
                                <img src="../../img/rcm.png">
                            </center>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <script src="../../js/script.js"></script>
</body>
</html>
