<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Home page</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/styleSheet.css">
    <link rel="stylesheet" href="../../css/homepage.css">
    <link rel="stylesheet" href="../../css/convinience.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="../../js/anim.js" ></script>
    <script>
        new WOW().init();
    </script>
</head>

<body id="bodyMainID" class="fontFamily">
    
    
    <div class="mainBodyContent ovrlfw-x">



        <div class="container-fluid">
            <div class="on-brand on-brand-style">
                <h2 class="ft-40">OneGold</h2>
            </div>
            <div class="row on-header on-header-style">
                <div class="icon hide-on-large show-on-med  show-on-small menu-trig-btn" id="menuTrigBtn_responsive">
                    <span class="menuBurgerBtnIcon_responsive" onclick="openNav()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>
                </div>
                <div id="mysidenav_resp_dd" class="sidenav_resp_dd">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a href="#" class="activeNavSel">How It Works?</a>
                    <a href="#">About Us</a>
                    <a href="#">Products</a>
                    <a href="#">Login</a>
                    <a href="#">Signup</a>
                </div>

                <ul class="hide-on-med hide-on-small navbar-hide-style posRelL200px">
                    <li class="navBarElement oneGoldText "> <a href="#!" class="navBarElementColor">How It Works</a> </li>
                    <li class="navBarElement oneGoldText"> <a href="#!" class="navBarElementColor">About Us</a> </li>
                    <li class="navBarElement oneGoldText"><a href="#!" class="navBarElementColor">Products</a> </li>
                </ul>

                <div class="dropdown dropdown-c drop-style hide-on-med hide-on-small ">

                    <ul class="hide-on-med hide-on-small navbar-hide-style posRelTop-28px">
                        <li class="navBarElement oneGoldText"><a href="#!" class="navBarElementColor">Log In</a> </li>
                        <li class="navBarElement oneGoldText"><a href="#!" class="navBarElementColor">Sign Up</a> </li>
                    </ul>


                </div>
            </div>
        </div>


        <div class=" GetStarted ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                        <div class="marT-150 hide-on-med hide-on-SMALL"></div>
                        <div class="marT-66 hide-on-large"></div>
                        <div class="easeHeading heavy">The ease of digital,</div>
                        <div class="easeHeading heavy">the security of physical</div>
                        <div class="marT-20 hide-on-small"></div>
                        <div class=" blackBg higt-30 easeWidth"></div>
                        <div class="marT-20 "></div>
                        <div class="oneGoldText ">
                            OneGold is an online marketplace for digital assets backed by physical gold and silver,providing a peace of mind not found with many investment types.
                        </div>
                        <div class="padB60 hide-on-large"></div>
                        <div class="marT-20  hide-on-med hide-on-SMALL">
                            <button class="btn bg whiteFont iconBlue bd-0 ht-80 wt-285 brdr-colr-blue t-24 " id="selectgold">
                                Get Started
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="container-fluid padZero row mrgn-0 mrTt-60 animated fadeInUp wow">
            <div class="col-lg-7 col-md-12 col-12 padZero padl-97 padT-120 padT-0 padding-tp-0 pdLl-63">
                <img src="../../img/Computer_Mobile.png" class="higt-320 wt-242-h140" />
            </div>

            <div class="col-lg-5 col-md-12 col-12 container padT-160 pdL-57 padT-0 padding-tp-0 pdt-23 pdn-0 mrlL-70 ppdB-60">
                <div class="col-lg-12 col-md-12 col-12 padZero ">

                    <h2 class="heavy ft-36 tt-24 fnt-24  ">We Make It Simple</h2>
                </div>

                <div class="col-lg-10 col-md-10 col-10 higt-30 bgcolor flx-450 marT-15 htt-20 mx-width-241">

                </div>
                <div class="col-lg-12 col-md-12 col-12 row marT-30">
                    <div class="col-lg-1 col-md-1 col-1 padZero">

                        <div class="blk-sqre-stting ht-15-wt-15">
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-8 padZero marLL--10">
                        <p class="t-24 fnt-18 txt-colr-form fntR-18">Accessible 24/7 on any devices</p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12 row">
                    <div class="col-lg-1 col-md-1 col-1 padZero">

                        <div class="blk-sqre-stting ht-15-wt-15">
                        </div>

                    </div>
                    <div class="col-lg-10 col-md-10 col-8 padZero marLL--10">
                        <p class="t-24 txt-colr-form fnt-18 fntR-18">Buy sell or redeem at your conviences</p>
                    </div>
                </div>


                <div class="col-lg-12 col-md-12 col-12 row">
                    <div class="col-lg-1 col-md-1 col-1 padZero">

                        <div class="blk-sqre-stting ht-15-wt-15">
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-8 padZero marLL--10">
                        <span class="t-24 txt-colr-form fnt-18 fntR-18">Real time settlement and quick payement.</span>
                    </div>
                </div>
            </div>

        </div>


        <div class="greyBG animated fadeInUp wow">
            <div class="container ">
                <div class="row ">

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 marT-100">
                        <center>

                            <div class="colr oneGoldTExt">
                                Why OneGold?
                            </div>
                            <div class=" bg higt-30 oneGoldBar"></div>
                            <div class="oneGoldText oneGoldWidth colr marT-24">
                                See what makes us different from traditional precious metal investment platforms, from our industry-leading partners to our physical redemption capabilities
                            </div>
                        </center>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 marT-100 marB100px">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <center>
                                    <div class="hoverBox" id="securityHover" onmouseover="securityOver()" onmouseout="securityOut()">
                                        <div class="oneGoldIconText ">Security</div>
                                        <div>
                                            <img src="../../img/Security.png" class="ht-164" id="securityImage" />
                                        </div>
                                    </div>
                                </center>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <center>
                                    <div class="hoverBox" id="trustHover" onmouseover="trustOver()" onmouseout="trustOut()">
                                        <div class="oneGoldIconText ">Trust</div>
                                        <div>
                                            <img src="../../img/Trust.png" class="ht-164" id="trustImage" />
                                        </div>
                                    </div>
                                </center>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <center>
                                    <div class="hoverBox" id="ConvHover" onmouseover="ConvOver()" onmouseout="ConvOut()">
                                        <div class="oneGoldIconText ">Convenience</div>
                                        <div>
                                            <img src="../../img/convenience.png" class="ht-164" id="ConvImage" />
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>

                        <div class="row marT-100 hide-on-med hide-on-SMALL"></div>

                        <div class="row ">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <center>
                                    <div class="hoverBox" id="ProductsHover" onmouseover="ProductsOver()" onmouseout="ProductsOut()">
                                        <div class="oneGoldIconText ">Products</div>
                                        <div>
                                            <img src="../../img/selection.png" class="ht-164" id="ProductsImage" />
                                        </div>
                                    </div>
                                </center>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <center>
                                    <div class="hoverBox" id="AccessHover" onmouseover="AccessOver()" onmouseout="AccessOut()">
                                        <div class="oneGoldIconText ">Accessibility</div>
                                        <div>
                                            <img src="../../img/Accessibility.png" class="ht-164" id="AccessImage" />
                                        </div>
                                    </div>
                                </center>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <center>
                                    <div class="hoverBox" id="RedemHover" onmouseover="RedemOver()" onmouseout="RedemOut()">
                                        <div class="oneGoldIconText">Redemption</div>
                                        <div>
                                            <img src="../../img/Redemption.png" class="ht-164" id="RedemImage" />
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="bg">
            <div class="container ">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 marT-70pxResp animated fadeInLeft wow">
                        <div class="DiffWithUS whiteFont">
                            Creating An Account Is Easy
                        </div>
                        <div class="whitBar higt-30 accountBar "></div>
                        <div class="marT-50"></div>
                        <div>
                            <table>
                                <tr>
                                    <td>
                                        <div class="disInlineBlock circle-stting crcle-stting-2">1</div>
                                    </td>
                                    <td>
                                        <div class="disInlineBlock differnceContent whiteFont">Enter a valid email address and create a password.</div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="marT-30">
                            <table>
                                <tr>
                                    <td>
                                        <div class="disInlineBlock circle-stting crcle-stting-2">2</div>
                                    </td>
                                    <td>
                                        <div class="disInlineBlock differnceContent whiteFont">Set up two-factor authentication using your mobile phone.</div>
                                    </td>
                                </tr>
                            </table>

                        </div>

                        <div class="marT-30 padB50">

                            <table>
                                <tr>
                                    <td>
                                        <div class="disInlineBlock circle-stting crcle-stting-2">3</div>
                                    </td>
                                    <td>
                                        <div class="disInlineBlock differnceContent whiteFont">That's it! You are ready to begin buying and selling.</div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="marT-50 padB100 hide-on-med hide-on-SMALL">
                            <button class="btn bg-white iconBlue bd-0 ht-80 wt-285 brdr-colr-blue t-24 " id="selectgold2">
                                Create Account
                            </button>
                        </div>

                    </div>

                    <div class="col-xl-4 col-lg-4 hide-on-med hide-on-SMALL animated fadeInRight wow">
                        <img src="../../img/123.png" class=" accountImage" />
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 marT-80 hide-on-med hide-on-SMALL animated fadeInLeft wow">
                    <center>
                        <div class="Diff20P colr">
                            20%
                        </div>
                        <div class=" bg higt-30 diffBar "></div>
                        <div class="offFee colr">
                            off of fees*
                        </div>
                    </center>
                </div>


                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 marT-80 animated fadeInRight">
                    <div class="DiffWithUS colr">
                        The Difference With Us
                    </div>
                    <div class=" bg higt-30 diffBarwithUS "></div>
                    <div class="differnceContent colr marT44">
                        OneGold is an online marketplace for Digital assets backed by physical gold and silver, providing a peace of mind not found with many investment types. <a href="#" class="Learn iconBlue">Learn more</a> about our cost effective pricing structure.
                    </div>
                    <div class="hide-on-large">
                        <div class="resp20pDiff colr">
                            20%
                        </div>
                        <div class=" bg higt-30 resp20pbar "></div>
                        <div class="resp20Off colr">
                            off of fees*
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                            <div class="greyHeading">
                                <div>25%*</div>
                                <div>Physical</div>
                            </div>
                            <div class=" bg higt-30 greyHeadingBar "></div>
                            <div class="greyContent">
                                <div>+ Storage Fee</div>
                                <div>+ Taxes</div>

                            </div>
                        </div>


                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                            <center>
                                <div class="greyContentMid">
                                    VS.
                                </div>
                            </center>
                        </div>

                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                            <div class="greyHeading">
                                <div>80%*</div>
                                <div>GLD</div>
                            </div>
                            <div class=" bg higt-30 greyHeadingBar "></div>
                            <div class="greyContent">
                                <div>+ Storage Fee</div>
                                <div>+ Taxes</div>

                            </div>
                        </div>

                    </div>
                    <div class="marT-50 hide-on-med hide-on-SMALL"></div>
                    <div class="marT-20 hide-on-large"></div>
                </div>
            </div>

        </div>







        <div class="blackBg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 marT-70 animated fadeInUp wow">
                        <center>
                            <div class="whoHeading whiteFont">
                                Who We Are
                            </div>
                            <div class=" bg higt-30 whoBar"></div>

                            <div class="whoContent whiteFont">
                                <a href="#" class="whiteFont link">Learn more</a> about the two world-class institutions cobining their knowledge and experience to bring you OneGold, an online marketplace for digital assests.
                            </div>
                        </center>
                    </div>
                </div>
            </div>

            <div class="row pdB-100 marTT85px">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 marT-70 padLeft animated fadeInUp wow">
                    <div class="greyBG" id="apmexBox">
                        <div class="PadT50">
                            <center>
                                <img src="../../img/apmex-logo.png" class="whoApmexLogo" />
                            </center>
                        </div>
                        <div class="mart45 padB44 pad20">
                            <center>
                                As a leading precious metals retailer for more than 15 years, the <a href="#" class="Learn iconBlue">APMEX</a> brand has become synonymous with an extensive product selection and being a trusted industry expert, having done more than $10 billion in sales.
                            </center>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12  marT-70Resp  padRight animated fadeInUp wow">
                    <div class="greyBG" id="sprottBox">
                        <div class="PadT50">
                            <center>
                                <img src="../../img/sprott.png" class="whoSprottLogo relT-26PX" />
                            </center>
                        </div>
                        <div class="relT-30px padB20px pad20">
                            <center>
                                As a leading precious metals retailer for more than 15 years, the <a href="#" class="Learn iconBlue">APMEX</a> brand has become synonymous with an extensive product selection and being a trusted industry expert, having done more than $10 billion in sales.
                            </center>
                        </div>
                    </div>
                </div>





            </div>
        </div>










        <div class="greyBG">
            <div class="container ">
                <div class="row ">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 marT-80 hide-on-med hide-on-SMALL animated fadeInLeft wow">
                        <img src="../../img/seo-content.png" class="seoImage" />
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 marT-85 animated fadeInRight wow">
                        <center>
                            <div class="colr seoheading">
                                (SEO Content Placeholder)
                            </div>
                            <div class=" bg higt-30 seoBar"></div>
                            <div class="seoContent colr seoBar marT-20">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <a href="#" class="Learn iconBlue">Read More</a>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 seoheading marT-90 animated fadeInUp wow">
                    <center>
                        <div>In the News</div>
                        <div class=" bg higt-30 newsBar"></div>
                        <div class="newsBarWidth marT-30">
                            Staying up-to-date with industry events and market news is useful for investors at any level. Find related news here and continue your education with OneGold
                        </div>
                    </center>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-12 marT-66 animated fadeInUp wow">
                    <div class="row">


                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 marT-66">
                            <center id="newsBox_1">
                                <div>
                                    <img src="../../img/Image1.png" class="newsImage" />
                                </div>

                                <div class="fntt-18 mart45">The technology section has experienced eponential growth and is expected to continue expanding over the next decade and beyond.Gold has an invaluable role to play in the industry...<a href="#" class="Learn txt-colr-form">Read More</a></div>
                            </center>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 marT-66 marLR-45px">
                            <center id="newsBox_2">
                                <div>
                                    <img src="../../img/Image2.png" class="newsImage" />
                                </div>

                                <div class="fntt-18 mart45">Big bank shares are dropping in pre-market trading, with Citigroup down about 1.7 percent and Wells Fargo sinking 3.2 percent. JPMorgan is hanging on to pre-market gains...<a href="#" class="Learn txt-colr-form">Read More</a></div>
                            </center>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 marT-66">
                            <center id="newsBox_3">
                                <div>
                                    <img src="../../img/Image3.png" class="newsImage" />
                                </div>

                                <div class="fntt-18 mart45">The prospect that coming  U.S. midterm could be tampered with is one of the biggest fears facing election watchers. It could also provide an opportunity for investors...<a href="#" class="Learn txt-colr-form">Read More</a></div>
                            </center>
                        </div>

                    </div>


                    <div class="row">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 marT44 marB100px">
                            <center>
                                <button class="btn btn-primary wt-285 zBorder  padding10px">View All</button>
                            </center>
                        </div>

                    </div>


                </div>
            </div>
        </div>



        <footer class="animated fadeInUp wow">
            <div class="blackBg footerPadT-94px">
                <div class="container ">
                    <div class="row whiteFont leftAlign">

                        <div class="col-lg-8">

                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12 font28px heavy">Company</div>
                                        <div class="col-lg-12 font24px  marT-16px">About Us</div>
                                        <div class="col-lg-12 font24px marT-30px">How it Works</div>
                                        <div class="col-lg-12 font24px marT-30px">Products</div>
                                        <div class="col-lg-12 font24px marT-30px">FAQ Center</div>
                                        <div class="col-lg-12 font24px marT-30px">Why Digital Gold?</div>
                                        <div class="col-lg-12 font24px marT-30px">Contact Us</div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12 font28px heavy respmarTop30px">Policies</div>
                                        <div class="col-lg-12 font24px  marT-16px">User Agreement</div>
                                        <div class="col-lg-12 font24px marT-30px">Privacy Policy</div>
                                        <div class="col-lg-12 font24px marT-30px">Site Map</div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="row ">
                                        <div class="col-lg-12 font28px heavy respmarTop30px">Education</div>
                                        <div class="col-lg-12 font24px  marT-16px">Blog</div>
                                        <div class="col-lg-12 font24px marT-30px">Charts</div>
                                        <div class="col-lg-12 font24px marT-30px">Convenience</div>
                                        <div class="col-lg-12 font24px marT-30px">Redemption</div>
                                        <div class="col-lg-12 font24px marT-30px">Security</div>
                                        <div class="col-lg-12 font24px marT-30px">Accessibility</div>
                                        <div class="col-lg-12 font24px marT-30px">Trust</div>
                                        <div class="col-lg-12 font24px marT-30px">Selection</div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-4">
                            <div class="row respmarTop30px">
                                <div class="col-lg-12 font21px pad-0">Stay Informed with Digital Gold News</div>

                                <div class="col-lg-12">
                                    <div class="row height64px">
                                        <div class="bg pad-0 inputParentWidth">
                                            <input type="text" value="yourname@email.com" class="inputWidth" />
                                        </div>
                                        <div class="bg paperWidth">
                                            <center>
                                                <img src="../../img/paper.png" class="paperImage">
                                            </center>
                                        </div>
                                    </div>

                                    <div class="row pad-0 marT-30">
                                        <div class="col-lg-12 pad-0">
                                            <div class="row">

                                                <div class="col-3">
                                                    <img src="../../img/Social-Facebook.png" class="footerImages">
                                                </div>

                                                <div class="col-3">
                                                    <img src="../../img/Social-Google-Plus.png" class="footerImages">
                                                </div>

                                                <div class="col-3">
                                                    <img src="../../img/Social-Twitter.png" class="footerImages">
                                                </div>

                                                <div class="col-3">
                                                    <img src="../../img/youtube.png" class="footerImages">
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="row hide-on-med hide-on-SMALL">
                        <div class="border-bottomBG"></div>
                    </div>


                    <div class="row marT-70 hide-on-med hide-on-SMALL">
                        <div class="col-2">
                            <center>
                                <img src="../../img/apmex-white.png">
                            </center>
                        </div>
                        <div class="col-3 relT-10PX">
                            <center>
                                <img src="../../img/sprott-white.png">
                            </center>
                        </div>
                        <div class="col-3">
                            <center>
                                <img src="../../img/tradewind-white.png">
                            </center>
                        </div>
                        <div class="col-2">
                            <center>
                                <img src="../../img/brinks-white.png">
                            </center>
                        </div>
                        <div class="col-2">
                            <center>
                                <img src="../../img/rcm.png">
                            </center>
                        </div>
                    </div>

                </div>
            </div>
        </footer>




    </div>

        
    <script src="../../js/script.js"></script>
   
    <script src="../../js/home.js"></script>
</body>
</html>
