<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Redeem</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/styleSheet.css">
</head>

<body id="bodyMainID" class="fontFamily overflow-x-hide">
    <div class="mainBodyContent">
        <!-- Navbar Starts-->
        <div class="container-fluid">
            <div class="on-brand on-brand-style">
                <h2>Digital Gold</h2>
            </div>
            <div class="row on-header on-header-style">
                <div class="icon hide-on-large show-on-med  show-on-small menu-trig-btn" id="menuTrigBtn_responsive">
                    <span class="menuBurgerBtnIcon_responsive" onclick="openNav()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>
                </div>
                <div id="mysidenav_resp_dd" class="sidenav_resp_dd">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a href="#" class="activeNavSel">Buy/Sell</a>
                    <a href="#">Withdraw</a>
                    <a href="#">Reedem</a>
                    <a href="#">Funding</a>
                </div>
                <ul class="hide-on-med hide-on-small navbar-hide-style">
                    <li class="navBarElement Active"> <a href="#!" class="navBarElementColor">Buy</a> </li>
                    <li class="navBarElement"> <a href="#!" class="navBarElementColor">Sell</a> </li>
                    <li class="navBarElement"><a href="#!" class="navBarElementColor">Withdraw</a> </li>
                    <li class="navBarElement"><a href="#!" class="navBarElementColor">Redeem</a> </li>
                    <li class="navBarElement"><a href="#!" class="navBarElementColor">Fund</a> </li>
                </ul>
                <div class="dropdown dropdown-c drop-style hide-on-med hide-on-small">
                    <a href="#" class=" txt-decor" data-toggle="dropdown" aria-expanded="true">
                        <span class="right-header-style">Allison Campbell</span>
                        <i class="fa fa-angle-down i-style"></i>
                    </a>
                    <div class="notificationBellCounter">
                        2
                    </div>
                    <i class="fa fa-bell pad-l-20"></i>
                    <div class="dropdown-menu dropdown-menu-right dropdown-style" x-placement="bottom-end">
                        <nav class="nav">
                            <ul class="ul-style">
                                <li class="li-style">
                                    <a href="#" class="dg-nav-link li-a-style">
                                        <i class="fa fa-user marR-10"></i>
                                        Settings
                                    </a>
                                </li>
                                <li class="li-style">
                                    <a href="#" class="dg-nav-link li-a-style">
                                        <i class="fa fa-cog marR-10"></i>
                                        Docs
                                    </a>
                                </li>
                                <li class="li-style">
                                    <a href="#" class="dg-nav-link li-a-style">
                                        <i class="fa fa-download marR-10"></i>
                                        Account
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row on-header hide-me-style">
                <span class="hide-on-med hide-on-small">&nbsp;</span>
            </div>
        </div>
        <!--navBar Ends-->
        <div class="container ">
            <div class="row">
                <div class="col-md-12  col-lg-4 hideMagT-80-onSmall  div-brd-bottom">
                    <h2 class="pdt-30 mrL--15 t-36"> Redeem </h2>
                </div>
                <div class="col-md-1 col-lg-3 marT-80 hide-on-SMALL ht-80 div-brd-bottom hide-on-med">
                </div>
                <div class="col-md-7 col-lg-5 marT-80 hide-on-SMALL ht-80 div-brd-bottom hide-on-med adjustAccountSection">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h4 class="colr ftw-400 t-24">Account Value</h4>
                        </div>
                        <div class="col-lg-3 col-md-3 marT-5">
                            <p class="t-16 colr">$0.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 marT-5">
                            <p class="t-16 colr">USD</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 marT--5">
                            <p class="t-18"> Cash Balance</p>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <p class="t-12">$0.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <p class="t-12">USD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 col-lg-4 marB-25 marT-25 ht-auto hide-on-med hide-on-small containerBlueBorder">
                    <div class="container align-centr marT-25">

                        <h4 class="colr t-24 heavy "> Summary </h4>
                        <span class="t-14 align-centr  txt-colr-form">
                            5 items in Cart
                        </span>
                        <div class="row marT-20">

                            <div class="ht-250 ovrflw-y-scroll">
                                <div class="col-md-1 col-lg-12  row">
                                    <div class="col-lg-2">
                                        <img src="../../img/Rectangle2.png" />
                                    </div>
                                    <div class="col-lg-8 align-left">
                                        <p class="t-12 black-lite marB-0"> 10 gram Gold Bar-Sunshine Minting New Design (In TEP Packaging)</p>
                                        <p class="t-10 colr">$18,000.00</p>

                                    </div>
                                    <div class="col-lg-2 ">
                                        <input type="text" class="inputStyle wt-51 ht-20 in" placeholder="1" disabled>
                                        <div class="align-rgt">
                                            <!-- <p class="t-10 formLabelClr ps-r-lft16-top25">remove</p> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1 col-lg-12  row">
                                    <div class="col-lg-2">
                                        <img src="../../img/circle2.png" />
                                    </div>
                                    <div class="col-lg-8 align-left">
                                        <p class="t-12 black-lite marB-0"> 10 gram Gold Bar-Sunshine Minting New Design (In TEP Packaging)</p>
                                        <p class="t-10 colr">$18,000.00</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" class="inputStyle wt-51 ht-20 in" placeholder="1" disabled>
                                        <!-- <p class="t-10 formLabelClr ps-r-lft16-top25">remove</p> -->
                                    </div>


                                </div>
                                <div class="col-md-1 col-lg-12  row">
                                    <div class="col-lg-2">
                                        <img src="../../img/Rectangle2.png" />
                                    </div>
                                    <div class="col-lg-8 align-left">
                                        <p class="t-12 black-lite marB-0"> 10 gram Gold Bar-Sunshine Minting New Design (In TEP Packaging)</p>
                                        <p class="t-10 colr">$18,000.00</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" class="inputStyle wt-51 ht-20 in" placeholder="1" disabled>
                                        <!-- <p class="t-10 formLabelClr ps-r-lft16-top25">remove</p> -->
                                    </div>


                                </div>
                                <div class="col-md-1 col-lg-12  row">
                                    <div class="col-lg-2">
                                        <img src="../../img/circle2.png" />
                                    </div>
                                    <div class="col-lg-8 align-left">
                                        <p class="t-12 black-lite marB-0"> 10 gram Gold Bar-Sunshine Minting New Design (In TEP Packaging)</p>
                                        <p class="t-10 colr">$18,000.00</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" class="inputStyle wt-51 ht-20 in" placeholder="1" disabled>
                                        <!-- <p class="t-10 formLabelClr ps-r-lft16-top25">remove</p> -->
                                    </div>


                                </div>
                                <div class="col-md-1 col-lg-12  row">
                                    <div class="col-lg-2">
                                        <img src="../../img/Rectangle2.png" />
                                    </div>
                                    <div class="col-lg-8 align-left">
                                        <p class="t-12 black-lite marB-0"> 10 gram Gold Bar-Sunshine Minting New Design (In TEP Packaging)</p>
                                        <p class="t-10 colr">$18,000.00</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" class="inputStyle wt-51 ht-20 in" placeholder="1" disabled>
                                        <!-- <p class="t-10 formLabelClr ps-r-lft16-top25">remove</p> -->
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="pad-0">
                            <div class="col-md-12 col-lg-12 marT-15 float_left pad-0">



                                <div class="col-md-12 col-lg-12 marT-10  pad-0">


                                    <div class="col-md-12 col-lg-12  pad-0">
                                        <span class=" float_left marT-10 ft-18 colrlightBlack">  Subtotal<span id="dotResp_6">. . . . . . . . . . . . . . . . . . . . .</span>$54,000.00</span>
                                    </div>

                                    <div class="col-md-12 col-lg-12  pad-0">
                                        <span class="t-12 float_left  txt-color"> Processing Fee<span id="dotResp_7">. . . . . . . . . . . . . . . . . . . . . . </span>$350.00  </span>
                                    </div>

                                    <div class="col-md-12 col-lg-12  pad-0 ">
                                        <span class="t-18 float_left  txt-color colr marT-30"> Cart total<span id="dotResp_8">. . . . . . . . . . . . . . . . . . . . . . </span>$54,350.00  </span>
                                    </div>

                                    <div class="col-md-12 col-lg-12  pad-0">
                                        <span class="t-12 float_left  txt-color">Cash Balance<span id="dotResp_9">. . . . . . . . . . . . . . . . . . . . . . </span>$54,385.00  </span>
                                    </div>

                                    <div class="col-md-12 col-lg-12  pad-0">
                                        <span class="t-12 float_left  txt-color">Remaining Balance<span id="dotResp_10">. . . . . . . . . . . . . . . . . . . . . . </span>$35.00  </span>
                                    </div>

                                    <div>
                                        <span> <a href="#" class="txt-decor-black t-12 txt-color float_right marB-40 marT-10"><u> Learn about our fees here </u></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-1 col-lg-1 marB-25 ">
                </div> -->

                <div class="col-md-12 col-lg-8 marB-25 marT-25 " id="confirm1">
                    <div class="container ">
                        <div class="row">

                            <div class="col-lg-12 align-rgt pad-0 hide-on-SMALL hide-on-med">
                                <span class="align-rgt txt-color"> your prices will expire in <span class="t-24" id="demo">9:40</span><span class="t-24"></span> </span>
                            </div>

                            <div class="col-lg-12 align-centr">



                                <h2 class="colr t-24 heavy marT-100">Confirm Your Purchase</h2>

                            </div>
                            <div class="col-lg-12 align-centr">
                                <p class="marT-25 t-18">
                                    Your Digital Gold order will ship to the address on file.If<br>
                                    the address listed blow is correct, click "Confirm" to<br>
                                    finalize your purchase.
                                </p>
                            </div>
                            <div class="col-lg-12 marL-135 ">
                                <div class="col-lg-12 pos-r-lft-60 marT-20">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 align-left ">
                                            <span class="t-18 formLabelClr font-14 marLl-15">Address 1</span>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-6 align-left marL--140">
                                            <span class="t-18 txt-colr-form font-14">1234 BoomBoom Drive</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 pos-r-lft-60 marT-20">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-6 col-md-6 col-6 align-left">
                                            <span class="t-18 formLabelClr font-14 marLl-15">Address 2</span>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-6 align-left marL--140">
                                            <span class="t-18 txt-colr-form font-14">1234 BoomBoom Drive</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 pos-r-lft-60 marT-20">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-6 col-md-6 col-6 align-left">
                                            <span class="t-18 formLabelClr font-14 marLl-15">City</span>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-6 align-left marL--140">
                                            <span class="t-18 txt-colr-form font-14">Oklahoma City</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 pos-r-lft-60 marT-20">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-6 col-md-6 col-6 align-left">
                                            <span class="t-18 formLabelClr font-14 marLl-15">Postal Code</span>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-6 align-left marL--140">
                                            <span class="t-18 txt-colr-form font-14">73118</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 pos-r-lft-60 marT-20">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-6 col-md-6 col-6 align-left">
                                            <span class="t-18 formLabelClr font-14 marLl-15">State</span>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-6 align-left marL--140">
                                            <span class="t-18 txt-colr-form font-14">Oklahoma </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 pos-r-lft-60 marT-20">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-6 col-md-6 col-6 align-left">
                                            <span class="t-18 formLabelClr font-14 marLl-15">Country</span>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-6 align-left marL--140">
                                            <span class="t-18 txt-colr-form font-14">United states</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  marrL-40 marT-30 col-lg-12 marRL-40 marll-60">
                                    <div class="col-md-6 col-lg-4  marT-20 align-centr">
                                        <button class="btn bd-0 brdr-colr-blue colr wt-216 bg-white" data-dismiss="modal" aria-label="Close"> Cancel </button>
                                    </div>

                                    <div class="col-md-4 col-lg-5 marT-20 col-6">
                                        <button class="btn bd-0 brdr-colr-blue login-color wt-216 bg marrll-50" onclick="confirm2_redir()"> Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-8 marB-25 align-centr hide-on-large hide-on-med hide-on-small" id="confirm2">

                    <div class="marT-70 align-centr col-lg-12 col-md-12 ">

                        <i class="fa fa-check-circle-o t-100 txt-light colr" aria-hidden="true"></i>
                        <div class=" col-md-12 col-lg-12  align-centr marT-15" id="redem_success">
                            <span class="t-24 colr heavy"> Redemption Successful</span>
                        </div>

                        <div class=" col-md-12 col-lg-12  align-centr marT-15 t-18 txt-colr-form " id="redem_successpara">
                            Thank you for submitting a Redemption order. You can
                            view the full details of this order at any time on your
                            dashboard and within your profile  settings.
                        </div>

                        <div class="row marT-40">
                            <div class="col-lg-4 offset-1 col-md-4 col-sm-4">
                                <p class="t-18 formLabelClr font-14">Confirmation Number</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2"></div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <p class="t-18 font-14">12XY43TQ876</p>
                            </div>
                        </div>
                        <div class=" col-md-12 col-lg-12 marT-30">
                            <div class="row align-centr">

                                <div class="col-md-12 col-lg-12 marT-10">
                                    <button class="col-md-12 btn btn-primary pad-10 bd-0 wid-215 min-width-215" style="width:75%">
                                        <span class="align-centr">Back to Dashboard</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- Footer Starts-->
    <footer>
        <div class="container-fluid foot-style">
            <span class="l-Float hide-on-small">Digital Gold &copy; 2018 </span>
            <span class="r-Float hide-on-small">
                <a href="#!" class="footerLinks">Sitemap</a>
                <a href="#!" class="footerLinks">FAQS</a>
                <a href="#!" class="footerLinks">Privacy Policy</a>
                <a href="#!" class="footerLinks">User Agreement</a>
            </span>
        </div>
    </footer>
    <!-- Footer Ends-->

    <script src="../../js/script.js"></script>
    <script src="../../js/buy.js"></script>
    <script src="../../js/RedeemDDResp.js"></script>
</body>
</html>
